<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>doBibtex</key>
	<integer>1</integer>
	<key>doPS2PDF</key>
	<integer>1</integer>
	<key>engineName</key>
	<string>pdflatex</string>
	<key>mainfile</key>
	<string>Article_main.tex</string>
	<key>nCompile</key>
	<integer>3</integer>
	<key>openConsole</key>
	<integer>1</integer>
	<key>showStatusBar</key>
	<integer>1</integer>
</dict>
</plist>
