.DS_Store
build/
xcuserdata/
Releases/
old/
test projects/
www/
*.aux
TeXnicle User Manual/Texnicle-User-Manual.log
TeXnicle User Manual/Texnicle-User-Manual.out
TeXnicle User Manual/Texnicle-User-Manual.synctex.gz
TeXnicle User Manual/Texnicle-User-Manual.toc
TeXnicle User Manual/Texnicle-User-Manual.cb
TeXnicle User Manual/Texnicle-User-Manual.cb2
