.DS_Store
build/
xcuserdata/
Releases/
old/
test projects/
www/
*.aux
TeXnicle User Manual/Texnicle-User-Manual.log
TeXnicle User Manual/Texnicle-User-Manual.out
TeXnicle User Manual/Texnicle-User-Manual.synctex.gz
TeXnicle User Manual/Texnicle-User-Manual.toc
TeXnicle User Manual/Texnicle-User-Manual.cb
TeXnicle User Manual/Texnicle-User-Manual.cb2
feedback/engines_from_martin_20121212/XeLaTeX.engine
feedback/engines_from_martin_20121212/com.timisted.TICoreDataSync.atom
feedback/engines_from_martin_20121212/pdflatexmk.engine
feedback/engines_from_martin_20121212/xelatexmk.engine
to_translate
DerivedData
Sparkle.framework.old
