<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>156.2.0.196174</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Helvetica</string>
			<key>Size</key>
			<real>7</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-01-30 13:39:33 +0000</string>
	<key>Creator</key>
	<string>Martin Hewitson</string>
	<key>DisplayScale</key>
	<string>1 in = 1.00000 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>0D19AD8E-7EA8-4462-B09C-B173F6FE90A3-47083-00008F0712F1F6DE</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.116331, -0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, 0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.116331, 0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.116331, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.116331, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.116331, 0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.116331, -0.116331}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.116331, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.116331, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.116331, -0.116331}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>11</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{279.5, 70.956400000000002}, {209.97300000000001, 209.97200000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>384</integer>
			<key>Shape</key>
			<string>0D19AD8E-7EA8-4462-B09C-B173F6FE90A3-47083-00008F0712F1F6DE</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.907609</string>
						<key>g</key>
						<string>0.907609</string>
						<key>r</key>
						<string>0.907609</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Fuzziness</key>
					<real>32</real>
					<key>ShadowVector</key>
					<string>{3, 5}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{147.79599999999999, 308.18799999999999}, {245, 122}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>380</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21.397400000000001, 120.29000000000001}, {497.79700000000003, 497.79700000000003}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>62</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21.397400000000005, 62.905212776765325}, {537.60259999999994, 537.60259999999994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>386</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.74902</string>
						<key>g</key>
						<string>0.74902</string>
						<key>r</key>
						<string>0.74902</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpNUFRYWV9i
			ZmltcXZVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AYoQ2A
			AtwPEBESExQVFhcYGQkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0V3ZlcnNpb25YcHJlYW1ibGVZcG9pbnRTaXplWGJhc2Vs
			aW5lXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVXRpdGxlVGRhdGVU
			bW9kZYAEgA+AA4AGI0BhAAAAAAAAIwAAAAAAAAAAgACAEYAVgBMQ
			AoAXVTIuMC4x0gkoKSpXTlMuZGF0YYAFTxE8syVQREYtMS40CiXQ
			1MXYCjUgMCBvYmogPDwKL0xlbmd0aCAyOSAgICAgICAgCi9GaWx0
			ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42ivkMlQwAEIImZzL
			pe+Wa6jgks8VyAUASiwFgwplbmRzdHJlYW0KZW5kb2JqCjQgMCBv
			YmogPDwKL1R5cGUgL1BhZ2UKL0NvbnRlbnRzIDUgMCBSCi9SZXNv
			dXJjZXMgMyAwIFIKL01lZGlhQm94IFswIDAgMjQ1IDEyMl0KL1Bh
			cmVudCA2IDAgUgo+PiBlbmRvYmoKMiAwIG9iaiA8PAovVHlwZSAv
			WE9iamVjdAovU3VidHlwZSAvRm9ybQovQkJveCBbMCAwIDI0NSAx
			MjJdCi9Gb3JtVHlwZSAxCi9NYXRyaXggWzEgMCAwIDEgMCAwXQov
			UmVzb3VyY2VzIDcgMCBSCi9MZW5ndGggMzkgICAgICAgIAovRmls
			dGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor5DJUMABCQwVd
			Q1MFXQtLA0uF5Fwufc9cQwWXfK5ALgBtPAbACmVuZHN0cmVhbQpl
			bmRvYmoKMSAwIG9iaiA8PAovVHlwZSAvWE9iamVjdAovU3VidHlw
			ZSAvRm9ybQovRm9ybVR5cGUgMQovUFRFWC5GaWxlTmFtZSAoL3Zh
			ci9mb2xkZXJzL1YzL1YzK1FBWEUtSElpOXk3OTZYMW80USsrKytU
			SS8tVG1wLS9MYVRlWGlULTIuMC4xL2xhdGV4aXQtMS0yLnBkZikK
			L1BURVguUGFnZU51bWJlciAxCi9QVEVYLkluZm9EaWN0IDggMCBS
			Ci9CQm94IFswIDAgMjI5OSA5MDQ0XQovUmVzb3VyY2VzIDw8Ci9Y
			T2JqZWN0IDw8Ci9GbTEgOSAwIFIKPj4vUHJvY1NldCBbIC9QREYg
			XQo+PgovTGVuZ3RoIDU4Ci9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+
			CnN0cmVhbQp42jNUMABCQwVDEz1LExMFC0sDC4XkXK5CLkNjPTMD
			EIAoQOFBFEB1QgX03XINFVzyuQKBEAC4iBCMCmVuZHN0cmVhbQpl
			bmRvYmoKOCAwIG9iago8PAovUHJvZHVjZXIgKHBkZlRlWC0xLjQw
			LjEwKQovQ3JlYXRvciAoVGVYKQovQ3JlYXRpb25EYXRlIChEOjIw
			MTAwMzE1MTg0ODA4KzAxJzAwJykKL01vZERhdGUgKEQ6MjAxMDAz
			MTUxODQ4MDgrMDEnMDAnKQovVHJhcHBlZCAvRmFsc2UKL1BURVgu
			RnVsbGJhbm5lciAoVGhpcyBpcyBwZGZUZVgsIFZlcnNpb24gMy4x
			NDE1OTI2LTEuNDAuMTAtMi4yIFwoVGVYIExpdmUgMjAwOVwpIGtw
			YXRoc2VhIHZlcnNpb24gNS4wLjApCj4+CmVuZG9iago5IDAgb2Jq
			Cjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9CQm94
			IFsgMCAwIDIwIDEwXQovRm9ybVR5cGUgMQovTWF0cml4IFsgMSAw
			IDAgMSAwIDBdCi9SZXNvdXJjZXMgMTAgMCBSCi9MZW5ndGggNDMK
			L0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3RyZWFtCnjaK+QyVDAA
			QkMFXUMTSwVdM1MTPUtLC4XkXC59z1xDBZd8rkAuAIjhB5UKZW5k
			c3RyZWFtCmVuZG9iagoxMCAwIG9iago8PAovWE9iamVjdCA8PAov
			SW0xIDExIDAgUgo+PgovUHJvY1NldCBbL1BERl0KPj4KZW5kb2Jq
			CjExIDAgb2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9G
			b3JtCi9Gb3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL2xhdGV4
			aXQtMS5wZGYpCi9QVEVYLlBhZ2VOdW1iZXIgMQovUFRFWC5JbmZv
			RGljdCAxMiAwIFIKL0JCb3ggWyAwIDAgNjEyIDc5Ml0KL1Jlc291
			cmNlcyA8PAovRm9udCA8PAovRjggMTMgMCBSCj4+Ci9Qcm9jU2V0
			IFsvUERGL1RleHRdCj4+Ci9MZW5ndGggMTA2Ci9GaWx0ZXIgL0Zs
			YXRlRGVjb2RlCj4+CnN0cmVhbQp42jPQM7GwVDBAIovSUbgQMsid
			y0ABKKEApInW4RTCpe9moWCpZ2lmZKYQkqZgaGKhZ25opGBmaq5n
			ZGyqEJKiEK0Rohkb4qVgqmcKFNA10jM0MYGIuyKJIwlHgIRJcATx
			Kl1DuABvuDffCmVuZHN0cmVhbQplbmRvYmoKMTIgMCBvYmoKPDwK
			L1Byb2R1Y2VyIChwZGZUZVgtMS40MC4xMCkKL0NyZWF0b3IgKFRl
			WCkKL0NyZWF0aW9uRGF0ZSAoRDoyMDEwMDMxNTE4NDgwNyswMScw
			MCcpCi9Nb2REYXRlIChEOjIwMTAwMzE1MTg0ODA3KzAxJzAwJykK
			L1RyYXBwZWQgL0ZhbHNlCi9QVEVYLkZ1bGxiYW5uZXIgKFRoaXMg
			aXMgcGRmVGVYLCBWZXJzaW9uIDMuMTQxNTkyNi0xLjQwLjEwLTIu
			MiBcKFRlWCBMaXZlIDIwMDlcKSBrcGF0aHNlYSB2ZXJzaW9uIDUu
			MC4wKQo+PgplbmRvYmoKMTMgMCBvYmoKPDwKL1R5cGUgL0ZvbnQK
			L1N1YnR5cGUgL1R5cGUxCi9GaXJzdENoYXIgNjkKL0xhc3RDaGFy
			IDg4Ci9XaWR0aHMgMTQgMCBSCi9Gb250RGVzY3JpcHRvciAxNSAw
			IFIKL0Jhc2VGb250IDE2IDAgUgovRW5jb2RpbmcgMTcgMCBSCj4+
			CmVuZG9iagoxNCAwIG9iagpbIDY4MC42IDY1Mi44IDc4NC43IDc1
			MCAzNjEuMSA1MTMuOSA3NzcuOCA2MjUgOTE2LjcgNzUwIDc3Ny44
			IDY4MC42IDc3Ny44IDczNi4xIDU1NS42IDcyMi4yIDc1MCA3NTAg
			MTAyNy44IDc1MF0KZW5kb2JqCjE1IDAgb2JqCjw8Ci9UeXBlIC9G
			b250RGVzY3JpcHRvcgovRm9udE5hbWUgL1BaV1BSUStDTVIxMAov
			RmxhZ3MgNAovRm9udEJCb3ggWyAtNDAgLTI1MCAxMDA5IDc1MF0K
			L0FzY2VudCA3NTAKL0NhcEhlaWdodCA3NTAKL0Rlc2NlbnQgLTI1
			MAovSXRhbGljQW5nbGUgMAovU3RlbVYgNjkKL0NoYXJTZXQgKC9F
			L1QvWCkKL0ZvbnRGaWxlIDE4IDAgUgo+PgplbmRvYmoKMTYgMCBv
			YmoKL1BaV1BSUStDTVIxMAplbmRvYmoKMTcgMCBvYmoKPDwKL1R5
			cGUgL0VuY29kaW5nCi9EaWZmZXJlbmNlcyBbIDY5L0UgODQvVCA4
			OC9YXQo+PgplbmRvYmoKMTggMCBvYmoKPDwKL0xlbmd0aDEgMTQx
			MwovTGVuZ3RoMiA2NDk0Ci9MZW5ndGgzIDAKL0xlbmd0aCA3NDQ4
			Ci9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42o10BVRU
			bbs2oUhISIfABknJoUu6u0NygAEGhxkYhu5GEJEQRFpAYChBkFZS
			QOlukFZSkJQ46Fvf+/3/WuesWWvPvvu5nvu6NiuTrgGPnD3CFqKM
			gKN4QLz8EoCClj6IH+DnF+Tl5xfAZ2U1hKJgkD/d+KzGEKQ7FAGX
			+I8EBSQEjLr2KYJR13laCDig7gEDQIIASEQCJCrBzw8I8POL/5WI
			QEoAimBPqD2gxQuoI+AQd3xWBYSrDxLq6IS6HvPXK8BhxwmAxMVF
			uX+XA3IuECTUDgwHtMAoJ4jL9UQ7MAwwQNhBISiff7XgkHJCoVwl
			+Pi8vLx4wS7uvAikozQnN+AFRTkB+hB3CNITYg/8Agxog10gfyDj
			xWcFDJ2g7n/4DRAOKC8wEgJcO2BQOwjc/brCA24PQQLXwwEDNU1A
			xxUC/yNZ848EbuDPuwFAvKC/2/1Z/asRFP67GGxnh3BxBcN9oHBH
			wAEKgwA6ypq8KG8UNwCG2/9KBMPcEdf1YE8wFAa2vU74fXIwoCyn
			B4CvAf4Jz90OCXVFufO6Q2G/IPL9anN9y0pwewWEiwsEjnLH/3U+
			RSgSYnd97T58f2z2ERzhBff703CAwu0dfoGw93DlM4JD3Twgaop/
			ply78P/xOUJQgDA/P7+ouCAAcQMg3nZOfL/aG/q4Qn4HQb/c1wgC
			/FwRroDDNQhIANQBcv2H7+cO9oQAKKQHJMDvPwP/tvBBIMAeaocC
			bCGOUDj+P92v3RCHP+zr5SOh3oA5/zX3QAD/r9/fb5bX9LJHwGE+
			/6T/3i+f7kMTXX09rj8Q/x2Tl0d4A348QvwAj4AwPwD6RTLR65eA
			f7f5+wL+Av/bqwuG/nm4/+ioBndAAOJ/YLi+vL9weP5JC44/JcMJ
			/HuCNuKayxCA4x/qW/AL89tdP0D/ZwH8Lvn/8f5Xl/+N+v99IGUP
			GOx3mON3/P8Jg12gMJ8/E66p7IG6loUW4loc8P9ONYH8IWUtiD3U
			w+W/o2oo8LU85OCOsL+vEequDPWG2OtCUXZOf3Dory1ct4dB4RBd
			hDv018cG4Lle2H/FrgVn9+j6g+J+vavfIci1nv49Ugluh7D/JTwB
			YREAjESCffCvV39tCQN+oGuF2kO8f1Mb4OOFI1DXJcA1vADAAYHE
			/7VREXGAT+mX67clJgTwGf5jiQF8pr+tf42080Air7X4mxTX5/nL
			/i18CMQbYoc/NY6wkwx3rgpvOnkjR+fFs9r/YIR11eQFJ4/fFLLZ
			44zo1nPOiozQBeSR3POeNpLZZSWOQ9lpxgu/zfrqW1ENSXqNP/3P
			rRP0h1Yb8ScHKT8O5G/Kve2kx7vLYyi75n/h5m8c8gi7HvODOmuO
			m4cYke4rshOvDhXvt53omd7I8VW9tQoRDYJz9DBPnNETi5DCUdZc
			28wxamYcFA897n3SPW/i0cOjEdLsgStG9QQu/ICtOMECv4eLAk9P
			x3znSg0F3FtoWGgeUtNjH5L2DrH5yW+kqFNN+BUVzH6c9K6XKmDM
			JuROneUh4d0QSK+A6sfCa9srPXun3oNWcp4D4ex0H8lWkiqLa8mt
			kcw6FBWN1rFkqErBRxD6jfcO8nNNR8atDs6pd6fFh99eAaOEZk6b
			wXWtfj+r3eZ6Pn3kOY5MbTjpqf203BpgUijTKXPX0Qt0X8nJPGZ2
			RiKdPvUmGtWH1WICUSMn4Z72fC52fhMcIeUX+l3+jBa0lM/P/1Ds
			Zjtm790d4Rz/708Dymr2tN8vjt6ZgHmRWoZdhYloX9l+SN3by6dx
			ElSyyYjkyE1Xan2cOx/PridZBakZDUPz7S2WUfIqFvswaiYuCU9+
			72IpEFJTaV+dKO+JsQj1cT4Vz+PdMS4zanwmnKfHtLIVy9O3URPS
			LR8W0SF+ZL+xdFRSIm9F8RVhfLpX5hUt3/P0i6FoeO7j9/rB2S3u
			OmkqcrFYr4+Xx9rxbO9tG8p7MrnUxhObGD44W+5reX3uxY1WU2Rl
			L5jS6tT4KhXlP2U5qVjQTvMmWJby8WFtsEBVs84JB8btDJK5p6wZ
			azPY96ybe2qNv1/SytMZGJ68uue7iNE+Mdy3zPR5aJnFD1ZmUSjU
			UQdICj9Jw4YlsDFNLAe/PFh4wPEk5tIhpm7eyEuuevpuZfroR8jC
			VnfvDfl7t5oF+cml+7dUgfxi9ox5zQIu8qvxpCznJd9M2TPG+LoH
			5e4WVfPkh1IRJQ8sWswwWRYUZaKNvuENrp2LPM8e9lbJ1YN3ldC9
			jKFZgVawjidnMU0M4WsKYFBVmme9vPNjuSCIk+mJQ4RpKK7dxp1Y
			XIxlqTF28u6q+JTv+mS6gkq5TOE8EpV32O8sXg7KEakTV/DenOqo
			UlDvx1BHoTHY2v1EcZ6JVOLfCzEebB9s2RwbVx2jSzqI5Sv+RKQ8
			4ejFrCycHO/13SCaxb/iKgShJ9W/3p9KQDBkE/hOKpMBxF/sj5t2
			JdX41WW3uvZ0MmO+x2lvPid8oexrMG5NzZs36TI9NDYyB6Ipm5QE
			1r05N82fvz8Q89aVEgKN0R88QA2cqGJMExNKiqTV1wUgNTxAXwV/
			vjRSwLgJfUlZrYoqqxoaCTjyoWYYvwy0Y2C1WHDbDbZoaFgT0hHy
			ZDJPtz5Wa3j1ZvdtxTnFxzW7WFr+BfqSfS31U61sM/7S3nhPP5EF
			6uRxi5N2AAuZ7dbzklmQ5sExdnKm4bCZBu+sBvW3Hs5WbiqVTxp+
			4GiFh/IqWc34DPQ+MxxEMRrske0COvwjxqnlImq6LCywn1/PSut4
			kqgWzVuoN0chfT2xJ120uDQavRNsAqyOybYVvlHH6r00adweiECt
			UoEOat95j8S0nKhRkfsvG++/JuxsIywZuhL/0F+0INORp5FMacdJ
			/Xng+IvFnmM2qoxNpnj56UDHj59wHMNNr+aktSaWHHttC4W69Pz+
			aZ2j8QHZAhMBb8YNMTcmTfvh8mU6xGbgCsiY70m3/APZyh9n20z8
			ia1muQjfU5bt08HjrmDWjrIPQz0UXl/mvwhYItDtC0C59YWMmtNn
			Yo+NXHmXHWUcKokaEBHuZIo9bnG3j8hxaMv0PECvTFgUTq0JFzbY
			92Ir5tkceVORpeJ7UiT+jfpBN3viCkfvRZPauZP2WfW434oOKUD0
			AoSt6Wk35kJxE1rzuoWtm1lr65tLh2ytyVhkGXV+mcusLSv/1Iub
			989sXm7e6shNWkjiczhsz4Q1s+oqCeRKMBjLcRrIa/KtSaEpd4TJ
			0ApZcnkLx5kwyXK/zy0EHPcaJk1vwpVxEplxYzFeYISL+elPIhLv
			tHYYUnGsWJvsYdnKXQZp+CO0CKzJxkdSTe4sXN5NaCb0WdHauBIJ
			LsmptGo+BqOyGHFldUCbuXyZGMrfGZPfCfow3EtbtiPW0poYVOl8
			eDFnju1SetXgO/BEOQgHjxSGPi1hblOXLofcmDSWjzeRvxuwbsz5
			7MasQfcMlIY7dzdkvnBXn5SyjrKguVE5rgsb3aybybvRrHljKNj7
			5MZramvzflPj6DtUXQc/9HIqCA11rw49w3JO8SGfuBNdL6dpw5BB
			TklndUkelN+fhT+x4YL50eIeQ/SOx59ZyzpQiQjSqi7ogj2HfGmM
			+iis32T3kX98WAJiuI9e6YojrYjX4uqydQ2OlPSbQ/fihZTpCVJu
			GBtLTuY29UWPEBGSluvw6mQtQrmbxMRKxhnCttojIxyzH1g8WJRl
			Vl4801A+Mcy1/fki4b1xyFMYB8yxvDVz2na4LG6OqW4DPZYy9tni
			y8UpWEgPRPWmNxAoEV9yMy6oK+wtABLdrR5tv3K3f5oOJ/JNaMW9
			VZa3ni8xflczy5fG8umdPTSSIKbgFTrMU1vxfayWiqg4i5om9JIt
			SW7Ske4LHCbigxmljhevrFOzL6WBt7qp25ev81ROjvqTZ2RS0Pww
			7BXbes2J2epENftUP4bJ9OBqGFvLK/4QDeCShuIlHxQPOjXsgWeb
			RdumgC/W1eErp1owli2Iie/Du2+e412/NIcCyXmUoTNvu8oN8JoL
			5RlMCth6JXPZAaji/B1tCC21013F3qo5gk7mNCaGwJUSSS5RV4t8
			L28aUrMlFXyrOWGl8r7ZjSQK0rvZ1rP1KSo1x1/2vgZzMMjdhtWS
			De2AbGbFPHgPPLh2lqeYzw6kJfe4g3x7qodY8RGNFQs53tjd/C/c
			Q++Md9OQmoCUvQd2RjdSFwDHS5eEuBpvY5/Dmuk7Q5nMlvd8A6lT
			C10991sJM+kjE9KOJjuLeJHy4o9ZKOB1ZgplCqCzDhTaXvbecZEY
			xuAj7ajRWI03mDkjknkt30aTYCHKZxw4BJNPtA9iXmNKLn4psL8s
			bfu5jZlYRnK+cL8pRurj69zny51k4WRobPeW1+JSNSrxhApKNhHG
			X185LTb3dLBS6CX1KxcgdJs7lobuhAWxoJ81Mw8JCjYd64pPiG89
			jHMXj8Jkt1kuYyDcQk6bnEpoJxdsdbuPHHYl1zLK4jiE3c6wojeZ
			i2ATEPIiLYb5EqyxjAqY7JJVec1FfNzSEbe9yltl1nmdTfapz6T9
			vjKp5Rzfaxsf9BO9SrzonmQLvedtdMr30bNQQ8rvcRtW2sCRvXWe
			lk1YfqQBq+Fb7QYN0fgKXC79tPEtc2RB+nm32WEn2baZGySgqXLy
			7u2C2ONJsyjdsx/4/cqYRkqvtg4un+yNaIS1jBGrPmGvqpHGfKgn
			20+sNrWIYs1buUrJaDEv4hTtYHt/nuPUD8+8XUnz1Yx9dAbc9s6w
			/Tu7KTJodCGND24Nf46trplLSYDLkSKLX7We83nwJX5ZjTa9n4Zy
			zcLMntWjdNv5Nvi3QMptG82KPEvcGXC+US5mfaffeTSp59Ku5sJs
			w9oroaQfoBcsQWRIF7mrHffn5G0fD/bhDxew76c1Pig+/uR+uIdI
			J7eV9UvwGSfAZVJQYIz1o7LD5TUJevhua5dhjZ8KTrBo6xrh6K77
			wp6FZ8jiqKJ/NJ1NU8r1ww3SOmIY2W3/+sD0arGNM96ejpR3XA79
			Xb4+RZ5hjF+sq+R9yz9FZUf+EJDxHG3CxcH6dtB0OBHVbooJzmMS
			oxnLd8FPmYmidvSaYrqFj3siuqqMZybrY2AZ+D0iGyut7BSGkB//
			WpqEx5iS6cnEf7pRG6OcHHp7buFsp1hpAWweHepwoustFKwakUPh
			/+2WyXm15IwKwzg5iRkZs6D8D+Gpg/O1ky+qFswjJeY4J6CU/rRt
			O2HtE3G0q7SAqHqj/MVBjTsf9k7MO0eOH8XeFHrcRChp8/Ilsb4k
			FffOuhAJRn0WcUsRcrboMxefck5oDU2MZ89X57Yjk6JYzQ59eSt6
			fXkw7MOm91vrnAmzTIkqYa3CihsLazsz5Lsxt8ieNpYR19AFFf3k
			c86PWOycymUKmLdJ3tlUZDO5G9yNXhnXM61nwVFdKFwn7kWp5Zc1
			4QV1j/FOmd39LjsJpyhBppBY/9iCz4a04RK+1zlfRslp3+TRJISn
			xKbK3LSep7SyjphxJE+sCcyi/BgvGWfD8GZwu0hDPmp+TwTS8a51
			lrEioQ5fOnkD9kHPNSGStuRV0AhnS+S7zNOagn2+OMlbBjTst63q
			DyVWUDfUK51lv5F7l7wNU+LgV/kk2d9AMaPnhvW0uCv5kSF7/V4W
			iWSW1DM3OvjkikcICqapAEoy7QCE+2hT8d0SJjrchgtCZFZiB31B
			CgZcLXfzdEHtgQyQHiwDgT4CwRL1FK3pT+HPYRzfR2pYcBkaID16
			q3wurtrCGqKYJheQGH/O9pnJeXCMakrZ4sP6kQohjzijgA+dHevt
			P4pwyI2AIabPKWbPt75hnDKNYqrhjpqtFo1k02iwbtgVKFXUbTH8
			TH8gP9WrZkkXbIADOgbuHYw03HEi6jXXi9R0QpvxrIYGGiAvfcDC
			gJaumUrx2KAkg/iNuLuWN4qHqMwwKGMjZIWDE+cWhjho8U8yEqQJ
			MtvDansUVZ2jXpEsu1MgKUK9Z1Pw13jbpKcHxysqcgcepZZPwzok
			2VIq7kmtT798sw95xukwtKLsm25T21Ur82pZzQ5D1kCVLUXq6mZT
			4s4NiCccQ4wsJFM59K7FsnElWrDzAFwmx+Tj07Qs8X2EizzLjinP
			e+9mSqjtgNbl+OMvfA4Bggsp6ZufX3ctM6sUp9wpW2d30HIfujXK
			aGpidBFwflRTW2fWURNnRRA8OsHq3NfFpPp+N1ZH9Qq3p+8po/Xp
			u1jJjaiq/v2ghCX1Os9coqoQy9l7+CxTt9DEM+wKTjIhwmlS4QbU
			F/SN25/ftH6XTSqjzsR7CS6tDuYhT5MLsouJ/ApDmGBWa3Hsx+Mg
			MWoL783YTAzCzfycZ2wE/WFYnvTlNg3sarCci6DFSqbV6vPcwxHd
			tk9bfsmvcJQqXuw+6HcFb1gRhEw6beo8wrbJrN1JX3Y9ObtdJubh
			M8uC3E+ZO3juge8QYOfWziXc6hPIdDFnOZZ5RnfSskVkxF2G+R6V
			w7kGlVDdz3mvE9Exw1FuDdEJ+UqvbPz+0m0Qh1K61GNjsYNHRSL6
			y/cO37CsiHTVhxas8UbbnpMtGAyEg77LVtSLn+XjfFiDtQ2X6t4J
			PqAuN91clGlyIVdPPKHkGREMP6aHLk+oys4+C3EYCLt4VKfPu5l+
			eOHJHtzlwkvK3mew3KbY2DsF8zlnpBZNonx12+xwXOFtWafL1xqr
			dxUqHsLWKum3TmqmQK9/EqP4nowSXC7G9S7t4S8KPa4ElcGjrX8q
			Sge44nCtOaAdxZ1Y6M+KOjEtZXe1Tm0mrYbrVTSOJIVLcPK9ujYb
			b6yoId125YoEHeRCF8zuQD1Kg9vmVtr3m4d2t4ZJzZAkX+kVD48k
			4uOm7Rlu6RdgzwFJcqg7tzd50M+4yTmXGsDo/J4Gp6UBcfPRQo8r
			XIN1anGNRJrwOx2GGsVgU5YVL8eepHc6YeZLWN6xdG5dYXk+N9Q4
			Uq6anEmENQvRai12NQH+TgwtLAm+iktkRgNtz7wazeK4mi9KH0r0
			7653DOR3ZoA+7NfAgqYgLXRdmDYeJ7JYtP43SrcYKcZnozeqX360
			mhah2+HL8hn6aQPeyyV93U0YY17RH0NiM/y+Vykrr82LtvXmFpiB
			7nau7xp0XxMcTkUa4PzpzXqP7M+8mNWAziBv4rVdk3c3b6WtwqPc
			n77gh98n8iOqgMk8LPY9iH3+iTRWum5dbJvRlUdziK077yf2roaN
			NGBTXcTaZpPyamfuQ487WqbB83PjRyuL88f3EynGL/Q+fSnStnWI
			4Jppej8fnoVgxoubKjTCa/IdOnD85tgHXnn6zKNaOWcoTaqdzPTM
			Z64OXTqIdXa/Cavb8ehKSMZUwLLtmVCR6su+V+kT+y+tWgfdNCGI
			qowXRtsHgbePCxITB0Wltzg/5h+kqcKfZWE1FJXJiTJ/9VOM1Jfi
			E0BdaHV2/Th1X30d/PORuJrpj0SHvOKMIeylq4GLn1xkU69NlbYK
			U0i6eb99YWoZbGe+rz5jIErUMm3GUIF7d+PmrvMMIT3b8JTchvpt
			rpK16A/1jbik06QPDlO0c1dZRDyrDGgNze48vjdDXa6ZeiXUX7iz
			LpOOMcB+tHXcfhqkTGVvrKI5zs21TulOUapymb9oxVdX7FbdfqPn
			CNPpSSdx6enpQ4ZS33DFYpTsbcFjCOnL9OwNrUlZaWdOKRMnmxWt
			pmjpq4lXPVeBXyCL28aK6mP+qQ0NpsQBQ4UKyJhuqo+G3XLdGwQO
			1BdYL/ISk3UDJG/GMI80aRyN3OtPMMypJVI+PrNYp704thpNwqan
			xSaQTMNr8f+mDyhadIQSqnqMilzpdV4MvmDP1BPstpX0vlf3lFHw
			gNGgVwLtbHtne4a1DqWecItP+lOuztVOBj3SeD6kjcbb8k09TpM0
			59JudmuNZTAs8xRbGPGexHw9d1BZkoRbm62InQxaHGNRqa3Xqrav
			Otr3Y5CxRcZQYlt2UnmXal37iuCWgWnrHH+lVClno9OiyThOSLOQ
			Q72yYq1T/Azv5FtDLE4rg5tDPAwRcK+AC26C6IfadUoUgwqYPyqO
			CcwI4vRvQmp820aP9gSbhi3w302iti8vzb4I28RTKQdap3u3xoVh
			G2X5x7KbJtZ0RYWryBIbjZOIqBFYMKaFr88eSZ9L9Bhb/8TqkR57
			LX5fjT+AcqTGgtlvkgJ3V9Bo2vfj9x6PFeUMB+zeqfyIQ92Fok+c
			Ss+ixYhDz40KMs68OMv3HMliPlO4jUos2jvfK6ivmKWIdrrl1kVQ
			kNHkjiDkqZdNxNfAVhGNX2Yu89cbjMJaQ5+tAg/3fd39I0ID8jo0
			x6oNyGIKJIId0GMuTYVtcoK78eN7BgQCHQ9oEsbN39rXTiadq2dY
			zL6lZCi7u09ptzVNHXx+SuyP8xn13hk09DFdbh15GUNR3jJUfknT
			q+7Zxq3B6I+Jt18dMfDceP7Zswz8F+fpeuHV5rPzUkatphJ3b4RO
			z8jYcR2xLlbibWs3zsobCItHnoS1vsWMQ2cxt493ZLx13DD82jS3
			YmVbbNKJizPDUXWfBXjihVN6ssFJEfMkaTnCilybCVnWbuZbIFUQ
			yUaFTJWUs1dToLPhiw4JwOdxBjBFfC0+w/aJey9iMjSEaO/3hWjw
			0EzMmRQYrOrG9pXLoVXYwzooO2bPqN4ODvcq7QpMDqrqirZSVTBs
			m62Y9PBUKfeWWTVGyTeJeC26dL46Js5V4nxPebr+XUU4vGEDh7B8
			+Mm8PS33GUHv8+XLItX9hiD7lye+BcbD2+ErSEnJkmiNdzgi3CFP
			oiK2lasAy3R1TgEVx6wb9seZeqaKnhf6sXzt6vXkbU7dUdpCe/zn
			Ad1OCdyMulfPvF3hgXEWaJRpUlvaS7LwQcVjKgvCw8c/fXscjXJt
			lmx5bI6suERLc4gGRNqJPcs2Ez9/QTuSjOyyKW+Ka93Ywc7pTic6
			0ngbMFqfDT7GuAQ5FHC2PGuirXFKK1dBqYame79/HCEU+MLtsm8r
			8m5nfXR5OzauxkW5gtMzOxXIU9bOCFR2gFDq/VV09XuNUINhrtXF
			QsWessM1SSgWLSHeBY9KGJKTefxpbpoYLYVLVoWPepqxWODzlE5h
			Bk/cxzTBG1MbpOuXz2tlzGLxbic+Hd4hv/1clz9ePSdbluhHaiWW
			+e3vN9flAumEkhfGg2Jcv1HLdZzdT+0nLd0SdiKKrVHBRFIWlogs
			xOoQgRtTwEjG+MuW4WD0u48YMUqVD5O/tqXrr2K04iPeNvCx+Jhz
			1TY2KgTBs44ii1JG5G0tteK7HomU6AcMLbixtPZQYPKlPv0SE9bT
			6vmzFL2zVmRBnsRftj/+6ZTTgIQy2bXki7/0lymm3QTzgxsDe/6f
			C4njLMed99wUh4Rw/VvV61Wi26Ul3i6penuehZSDZAKIajYk4OLf
			Vyk0P37Ak67iosPn/XHLfmDkwbHClYI/TL2+UMvTyj2KdijnRZhl
			nYMJH/aWhcWuqYwdnPhhhUJDQNADhiiDy5Dv6Gihw3jtWlpQmBWx
			mBsrOrGrGlc1XvDxVI6W73NM/doDUpMNruEAh2RGZ22PwhEc3w/5
			jOuEhw4097VGWaxKV6hCJ03o2CCK50UmR+WIlxHf8paN0nQkF+XV
			vNNYQqzDvQypTwjzh7pLAAdPEtPcTxrFxnFhwrJvDkRcHvW8qRE8
			DQoFwo6L0knM3zxFPpHOIHR+y1uECGFR0ZVM7aczLX/dyqH3Y19x
			/5zsEVuWa9b0TnZTv45VcxdWemVToyc7vLh8kYA2LWjCFvFRLVfh
			6qXhXJGblj788eGUzeAJaUm0FZH6JKe0D5H0krWV3lZAnUR7BvB4
			ooXBUTQxyB37/HSG7J0y7zEWbvMh1XlCM5Gduxlv4IN0kq1PJfbL
			T6oLlyzG7/Weeyc/Sd2N6XsMpelOKXJPGAdclxknMo5dI5W+CrwQ
			h7V7XmmomwqEOdn9eCyQN37cP4Zs9FC7LfI/kKx+ngplbmRzdHJl
			YW0KZW5kb2JqCjcgMCBvYmogPDwKL1hPYmplY3QgPDwgL0ltMSAx
			IDAgUiA+PgovUHJvY1NldCBbIC9QREYgXQo+PiBlbmRvYmoKMyAw
			IG9iaiA8PAovWE9iamVjdCA8PCAvRm0xIDIgMCBSID4+Ci9Qcm9j
			U2V0IFsgL1BERiBdCj4+IGVuZG9iago2IDAgb2JqIDw8Ci9UeXBl
			IC9QYWdlcwovQ291bnQgMQovS2lkcyBbNCAwIFJdCj4+IGVuZG9i
			agoxOSAwIG9iaiA8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgNiAw
			IFIKPj4gZW5kb2JqCjIwIDAgb2JqIDw8Ci9Qcm9kdWNlciAocGRm
			VGVYLTEuNDAuMTApCi9DcmVhdG9yIChUZVgpCi9DcmVhdGlvbkRh
			dGUgKEQ6MjAxMDAzMTUxODQ4MDgrMDEnMDAnKQovTW9kRGF0ZSAo
			RDoyMDEwMDMxNTE4NDgwOCswMScwMCcpCi9UcmFwcGVkIC9GYWxz
			ZQovUFRFWC5GdWxsYmFubmVyIChUaGlzIGlzIHBkZlRlWCwgVmVy
			c2lvbiAzLjE0MTU5MjYtMS40MC4xMC0yLjIgKFRlWCBMaXZlIDIw
			MDkpIGtwYXRoc2VhIHZlcnNpb24gNS4wLjApCj4+IGVuZG9iagpv
			YmoKPDwKL0VuY29kaW5nIC9NYWNSb21hbkVuY29kaW5nCi9QcmVh
			bWJsZSAoRVNhbm5vcEVTc2xhc2hkb2N1bWVudGNsYXNzWzEwcHRd
			RVNsZWZ0YnJhY2thcnRpY2xlRVNyaWdodGJyYWNrCkVTc2xhc2h1
			c2VwYWNrYWdlW3VzZW5hbWVzXUVTbGVmdGJyYWNrY29sb3JFU3Jp
			Z2h0YnJhY2sgJXVzZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFzaHVz
			ZXBhY2thZ2VFU2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sg
			JW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNt
			YXRoRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2Fn
			ZVt1dGY4XUVTbGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sg
			JXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFy
			YWN0ZXJzCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVT
			YW5ub2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRp
			Y2xlJTdEJTBBJTVDdXNlcGFja2FnZSU1QnVzZW5hbWVzJTVEJTdC
			Y29sb3IlN0QlMjAlMjV1c2VkJTIwZm9yJTIwZm9udCUyMGNvbG9y
			JTBBJTVDdXNlcGFja2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRo
			cyUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0
			aHMlMEElNUN1c2VwYWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5j
			JTdEJTIwJTI1dXNlZnVsJTIwdG8lMjB0eXBlJTIwZGlyZWN0bHkl
			MjBkaWFjcml0aWMlMjBjaGFyYWN0ZXJzJTBBRVNhbm5vZXBlbmQp
			Ci9TdWJqZWN0IChFU2Fubm90RVNzbGFzaFRlWEVTYW5ub3RlbmQp
			Ci9Fc2NhcGVkU3ViamVjdCAoRVNhbm5vZXMlNUNUZVhFU2Fubm9l
			c2VuZCkKL1R5cGUgKEVFdHlwZTJFRXR5cGVlbmQpCi9Db2xvciAo
			RUVjb2wwLjQ4ODY4OCAwLjQ4ODY4OCAwLjQ4ODY4OCAxLjAwMDAw
			MEVFY29sZW5kKQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAxLjAw
			MDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0bGUg
			KEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAoRUVt
			YWcxMzYuMDAwMDAwRUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMw
			LjAwMDAwMEVFYmFzZW5kKQo+PgplbmRvYmoKb2JqCjw8Ci9FbmNv
			ZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5u
			b3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNr
			YXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1
			c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICV1
			c2VkIGZvciBmb250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdlRVNs
			ZWZ0YnJhY2thbXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpFU3Ns
			YXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmlnaHRi
			cmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1FU2xl
			ZnRicmFja2lucHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwgdG8g
			dHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpFU2Fu
			bm9wZW5kKQovRXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1Q2Rv
			Y3VtZW50Y2xhc3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUwQSU1
			Q3VzZXBhY2thZ2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdEJTIw
			JTI1dXNlZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBh
			Y2thZ2UlN0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2Vw
			YWNrYWdlJTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNl
			cGFja2FnZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVz
			ZWZ1bCUyMHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGlj
			JTIwY2hhcmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAo
			RVNhbm5vdEVTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAoRVNh
			bm5vZXNFU2Fubm9lc2VuZCkKL1R5cGUgKEVFdHlwZTBFRXR5cGVl
			bmQpCi9Db2xvciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAw
			MDAwMCAxLjAwMDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVia2Mx
			LjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtj
			ZW5kKQovVGl0bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlm
			aWNhdGlvbiAoRUVtYWcwLjAwMDAwMEVFbWFnZW5kKQovQmFzZWxp
			bmUgKEVFYmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2JqCm9i
			ago8PAovRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcKL1ByZWFt
			YmxlIChFU2Fubm9wRVNzbGFzaGRvY3VtZW50Y2xhc3NbMTBwdF1F
			U2xlZnRicmFja2FydGljbGVFU3JpZ2h0YnJhY2sKRVNzbGFzaHVz
			ZXBhY2thZ2VbdXNlbmFtZXNdRVNsZWZ0YnJhY2tjb2xvckVTcmln
			aHRicmFjayAldXNlZCBmb3IgZm9udCBjb2xvcgpFU3NsYXNodXNl
			cGFja2FnZUVTbGVmdGJyYWNrYW1zc3ltYkVTcmlnaHRicmFjayAl
			bWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFja2Ftc21h
			dGhFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdl
			W3V0ZjhdRVNsZWZ0YnJhY2tpbnB1dGVuY0VTcmlnaHRicmFjayAl
			dXNlZnVsIHRvIHR5cGUgZGlyZWN0bHkgZGlhY3JpdGljIGNoYXJh
			Y3RlcnMKRVNhbm5vcGVuZCkKL0VzY2FwZWRQcmVhbWJsZSAoRVNh
			bm5vZXAlNUNkb2N1bWVudGNsYXNzJTVCMTBwdCU1RCU3QmFydGlj
			bGUlN0QlMEElNUN1c2VwYWNrYWdlJTVCdXNlbmFtZXMlNUQlN0Jj
			b2xvciU3RCUyMCUyNXVzZWQlMjBmb3IlMjBmb250JTIwY29sb3Il
			MEElNUN1c2VwYWNrYWdlJTdCYW1zc3ltYiU3RCUyMCUyNW1hdGhz
			JTBBJTVDdXNlcGFja2FnZSU3QmFtc21hdGglN0QlMjAlMjVtYXRo
			cyUwQSU1Q3VzZXBhY2thZ2UlNUJ1dGY4JTVEJTdCaW5wdXRlbmMl
			N0QlMjAlMjV1c2VmdWwlMjB0byUyMHR5cGUlMjBkaXJlY3RseSUy
			MGRpYWNyaXRpYyUyMGNoYXJhY3RlcnMlMEFFU2Fubm9lcGVuZCkK
			L1N1YmplY3QgKEVTYW5ub3RFU3NsYXNoVGVYRVNhbm5vdGVuZCkK
			L0VzY2FwZWRTdWJqZWN0IChFU2Fubm9lcyU1Q1RlWEVTYW5ub2Vz
			ZW5kKQovVHlwZSAoRUV0eXBlMkVFdHlwZWVuZCkKL0NvbG9yIChF
			RWNvbDAuNDg4Njg4IDAuNDg4Njg4IDAuNDg4Njg4IDEuMDAwMDAw
			RUVjb2xlbmQpCi9CS0NvbG9yIChFRWJrYzEuMDAwMDAwIDEuMDAw
			MDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVia2NlbmQpCi9UaXRsZSAo
			RUV0aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZpY2F0aW9uIChFRW1h
			ZzEzNi4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2VsaW5lIChFRWJhczAu
			MDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagpvYmoKPDwKL0VuY29k
			aW5nIC9NYWNSb21hbkVuY29kaW5nCi9QcmVhbWJsZSAoRVNhbm5v
			cEVTc2xhc2hkb2N1bWVudGNsYXNzWzEwcHRdRVNsZWZ0YnJhY2th
			cnRpY2xlRVNyaWdodGJyYWNrCkVTc2xhc2h1c2VwYWNrYWdlW3Vz
			ZW5hbWVzXUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sgJXVz
			ZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VFU2xl
			ZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xh
			c2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdodGJy
			YWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVTbGVm
			dGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0byB0
			eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVTYW5u
			b3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVDZG9j
			dW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBBJTVD
			dXNlcGFja2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3IlN0QlMjAl
			MjV1c2VkJTIwZm9yJTIwZm9udCUyMGNvbG9yJTBBJTVDdXNlcGFj
			a2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBh
			Y2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1c2Vw
			YWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1dXNl
			ZnVsJTIwdG8lMjB0eXBlJTIwZGlyZWN0bHklMjBkaWFjcml0aWMl
			MjBjaGFyYWN0ZXJzJTBBRVNhbm5vZXBlbmQpCi9TdWJqZWN0IChF
			U2Fubm90RVNzbGFzaFRlWEVTYW5ub3RlbmQpCi9Fc2NhcGVkU3Vi
			amVjdCAoRVNhbm5vZXMlNUNUZVhFU2Fubm9lc2VuZCkKL1R5cGUg
			KEVFdHlwZTJFRXR5cGVlbmQpCi9Db2xvciAoRUVjb2wwLjQ4ODY4
			OCAwLjQ4ODY4OCAwLjQ4ODY4OCAxLjAwMDAwMEVFY29sZW5kKQov
			QktDb2xvciAoRUVia2MxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAw
			MCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0bGUgKEVFdGl0bGVFRXRp
			dGxlZW5kKQovTWFnbmlmaWNhdGlvbiAoRUVtYWcxMzYuMDAwMDAw
			RUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAwMEVFYmFz
			ZW5kKQo+PgplbmRvYmoKeHJlZgowIDIxCjAwMDAwMDAwMDAgNjU1
			MzUgZiAKMDAwMDAwMDQ0NiAwMDAwMCBuIAowMDAwMDAwMjI3IDAw
			MDAwIG4gCjAwMDAwMTAyMjYgMDAwMDAgbiAKMDAwMDAwMDEyMyAw
			MDAwMCBuIAowMDAwMDAwMDE1IDAwMDAwIG4gCjAwMDAwMTAyOTEg
			MDAwMDAgbiAKMDAwMDAxMDE2MSAwMDAwMCBuIAowMDAwMDAwODM2
			IDAwMDAwIG4gCjAwMDAwMDEwOTYgMDAwMDAgbiAKMDAwMDAwMTMx
			MiAwMDAwMCBuIAowMDAwMDAxMzc3IDAwMDAwIG4gCjAwMDAwMDE3
			NTQgMDAwMDAgbiAKMDAwMDAwMjAxNSAwMDAwMCBuIAowMDAwMDAy
			MTY0IDAwMDAwIG4gCjAwMDAwMDIyOTIgMDAwMDAgbiAKMDAwMDAw
			MjUwMSAwMDAwMCBuIAowMDAwMDAyNTMxIDAwMDAwIG4gCjAwMDAw
			MDI2MDAgMDAwMDAgbiAKMDAwMDAxMDM0OCAwMDAwMCBuIAowMDAw
			MDEwMzk4IDAwMDAwIG4gCnRyYWlsZXIKPDwgL1NpemUgMjEKL1Jv
			b3QgMTkgMCBSCi9JbmZvIDIwIDAgUgovSUQgWzw2NzAxOTlGN0I4
			MkUzNzkyQ0IwMEU2MjJEQ0UwRTY1QT4gPDY3MDE5OUY3QjgyRTM3
			OTJDQjAwRTYyMkRDRTBFNjVBPl0gPj4Kc3RhcnR4cmVmCjE0OTYz
			CiUlRU9G0iwtLi9aJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFi
			bGVEYXRhoy4wMVZOU0RhdGFYTlNPYmplY3TTMwk0NTY3XE5TQXR0
			cmlidXRlc1hOU1N0cmluZ4AIgA6AB18Q0lxkb2N1bWVudGNsYXNz
			WzEwcHRde2FydGljbGV9Clx1c2VwYWNrYWdlW3VzZW5hbWVzXXtj
			b2xvcn0gJXVzZWQgZm9yIGZvbnQgY29sb3IKXHVzZXBhY2thZ2V7
			YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNrYWdle2Ftc21hdGh9ICVt
			YXRocwpcdXNlcGFja2FnZVt1dGY4XXtpbnB1dGVuY30gJXVzZWZ1
			bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJz
			CtMJOgo7PD5XTlMua2V5c4ANoT2ACaE/gApWTlNGb2501AlCQ0RF
			RkdIVk5TTmFtZVZOU1NpemVYTlNmRmxhZ3OADIALI0AoAAAAAAAA
			EBBWTW9uYWNv0iwtS0xWTlNGb250oksx0iwtTk9cTlNEaWN0aW9u
			YXJ5ok4x0iwtUVJfEBJOU0F0dHJpYnV0ZWRTdHJpbmeiUzFfEBJO
			U0F0dHJpYnV0ZWRTdHJpbmfTMwk0NTZXgAiADoAQVFxUZVjTCVpb
			XF1eXE5TQ29sb3JTcGFjZVVOU1JHQoASEAFPECcwLjQ4ODY4Nzk5
			MjEgMC40ODg2ODc5OTIxIDAuNDg4Njg3OTkyMQDSLC1gYVdOU0Nv
			bG9yomAx0mMJZGVXTlMudGltZSNBsU6qWL9tVYAU0iwtZ2hWTlNE
			YXRlomcx0glqa2xZTlMuc3RyaW5ngBZQ0iwtbm9fEA9OU011dGFi
			bGVTdHJpbmejbnAxWE5TU3RyaW5n0iwtcnNfEA9MYXRleGl0RXF1
			YXRpb26jdHUxXxAPTGF0ZXhpdEVxdWF0aW9uXxAPTlNNYW5hZ2Vk
			T2JqZWN00iwtd3hXTlNBcnJheaJ3MV8QD05TS2V5ZWRBcmNoaXZl
			ctF7fFRyb290gAEACAARABoAIwAtADIANwBTAFkAXgBlAHAAcgB0
			AHYAjwCXAKIAqgCzAL0AxgDYAN4A5ADpAO4A8ADyAPQA9gD/AQgB
			CgEMAQ4BEAESARQBGgEfAScBKT3gPeU98D35Pgc+Cz4SPhs+Ij4v
			Pjg+Oj48Pj4/Ez8aPyI/JD8mPyg/Kj8sPzM/PD9DP0o/Uz9VP1c/
			YD9iP2k/bj91P3g/fT+KP40/kj+nP6o/vz/GP8g/yj/MP9E/2D/l
			P+s/7T/vQBlAHkAmQClALkA2QD9AQUBGQE1AUEBVQF9AYUBiQGdA
			eUB9QIZAi0CdQKFAs0DFQMpA0kDVQOdA6kDvAAAAAAAAAgEAAAAA
			AAAAfQAAAAAAAAAAAAAAAAAAQPE=
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image8.tiff</string>
		<string>image4.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-10-22 06:15:38 +0000</string>
	<key>Modifier</key>
	<string>Martin Hewitson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>BottomSlabHeight</key>
		<real>430</real>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{5, 4}, {993, 774}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>230</integer>
		<key>VisibleRegion</key>
		<string>{{-42.999999999999979, -66}, {644.92753846032906, 914.49275678307345}}</string>
		<key>Zoom</key>
		<real>0.68999999761581421</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.68999999761581421</real>
				<real>0.73000001907348633</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
