<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>TeXProject 11</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>TeXProject 10</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			Ow+iGdBKIP6AijDPzNT2dGmjwrSu3RsK6bNp03vZ4jY=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			WeS8dr2dP74D2G4eO7AvRrVbufOi0GR7gpB57bjBiG8=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			/kR6J9LdHdGeQ3bOEG69CfXq/Glm07/1uVJBvThbtrk=
			</data>
			<key>TeXFile</key>
			<data>
			6CluIfoPedvZZaGidwNyxpUQEVkzbR2uHZVaqhL5Vl8=
			</data>
			<key>UISettings</key>
			<data>
			D+kGOMNE9WXpIkGKSN+1wlz/lgH0QO/bMQlEaQNsycY=
			</data>
		</dict>
		<key>TeXProject 11</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			Ow+iGdBKIP6AijDPzNT2dGmjwrSu3RsK6bNp03vZ4jY=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			WeS8dr2dP74D2G4eO7AvRrVbufOi0GR7gpB57bjBiG8=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			t4HONJYhnYCtV8c4JwxfAk24ARhglhnFciWisChnNlg=
			</data>
			<key>TeXFile</key>
			<data>
			6CluIfoPedvZZaGidwNyxpUQEVkzbR2uHZVaqhL5Vl8=
			</data>
			<key>UISettings</key>
			<data>
			D+kGOMNE9WXpIkGKSN+1wlz/lgH0QO/bMQlEaQNsycY=
			</data>
		</dict>
		<key>TeXProject 2</key>
		<dict>
			<key>File</key>
			<data>
			SIcXmxCoKtFW+YhDSLEkwmXSrw4caz9RzuU6RdD8wRE=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			77EjZJf+xpmgyr0pFJbXwUaIZN6MKS/o2PFxZbvsCsc=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>TeXFile</key>
			<data>
			7+kViVWxvtxxOsB7FryvRxcxR7jVqaNMyRZDLX9s/qk=
			</data>
		</dict>
		<key>TeXProject 3</key>
		<dict>
			<key>File</key>
			<data>
			SIcXmxCoKtFW+YhDSLEkwmXSrw4caz9RzuU6RdD8wRE=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			77EjZJf+xpmgyr0pFJbXwUaIZN6MKS/o2PFxZbvsCsc=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>TeXFile</key>
			<data>
			7+kViVWxvtxxOsB7FryvRxcxR7jVqaNMyRZDLX9s/qk=
			</data>
		</dict>
		<key>TeXProject 4</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			g0dbBJCoqMq/YyTpIK/2Dwq9QbDIoJwXXAAngvjlug4=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			77EjZJf+xpmgyr0pFJbXwUaIZN6MKS/o2PFxZbvsCsc=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>TeXFile</key>
			<data>
			YMkOcubel3kPbZmFNGyeWzLDN8JOKBgXRj6LJdZfmms=
			</data>
		</dict>
		<key>TeXProject 5</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			g0dbBJCoqMq/YyTpIK/2Dwq9QbDIoJwXXAAngvjlug4=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			vo1aWgOsgAms71hKtfeAG72uwKbTsY2VrKDDPGAOjjc=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			yXpvLoE8B2CiWCYk3PRgYaCz/KsG1vsKV9w4i5a8aJY=
			</data>
			<key>TeXFile</key>
			<data>
			YMkOcubel3kPbZmFNGyeWzLDN8JOKBgXRj6LJdZfmms=
			</data>
		</dict>
		<key>TeXProject 6</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			g0dbBJCoqMq/YyTpIK/2Dwq9QbDIoJwXXAAngvjlug4=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			vo1aWgOsgAms71hKtfeAG72uwKbTsY2VrKDDPGAOjjc=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			/kR6J9LdHdGeQ3bOEG69CfXq/Glm07/1uVJBvThbtrk=
			</data>
			<key>TeXFile</key>
			<data>
			YMkOcubel3kPbZmFNGyeWzLDN8JOKBgXRj6LJdZfmms=
			</data>
		</dict>
		<key>TeXProject 7</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			g0dbBJCoqMq/YyTpIK/2Dwq9QbDIoJwXXAAngvjlug4=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			5HPCWlc9/rrzp1O8GSw3CpDtwxDfkG2Nut7UhSPaHF8=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			/kR6J9LdHdGeQ3bOEG69CfXq/Glm07/1uVJBvThbtrk=
			</data>
			<key>TeXFile</key>
			<data>
			YMkOcubel3kPbZmFNGyeWzLDN8JOKBgXRj6LJdZfmms=
			</data>
			<key>UISettings</key>
			<data>
			AL0Sr6YIEDccEl/u3ahjfjR2096wLe14w4hI35Vhx0U=
			</data>
		</dict>
		<key>TeXProject 8</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			Ow+iGdBKIP6AijDPzNT2dGmjwrSu3RsK6bNp03vZ4jY=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			WeS8dr2dP74D2G4eO7AvRrVbufOi0GR7gpB57bjBiG8=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			/kR6J9LdHdGeQ3bOEG69CfXq/Glm07/1uVJBvThbtrk=
			</data>
			<key>TeXFile</key>
			<data>
			6CluIfoPedvZZaGidwNyxpUQEVkzbR2uHZVaqhL5Vl8=
			</data>
			<key>UISettings</key>
			<data>
			AL0Sr6YIEDccEl/u3ahjfjR2096wLe14w4hI35Vhx0U=
			</data>
		</dict>
		<key>TeXProject 9</key>
		<dict>
			<key>Bookmark</key>
			<data>
			DomRcT1vfHnhCpD4hL1oyiuZNfU1acRc5Sa8FV4eSzw=
			</data>
			<key>File</key>
			<data>
			Ow+iGdBKIP6AijDPzNT2dGmjwrSu3RsK6bNp03vZ4jY=
			</data>
			<key>Folder</key>
			<data>
			Grij332X1rMYXqmN3lNQISkMHRf2/DdXELst812WKGE=
			</data>
			<key>Project</key>
			<data>
			WeS8dr2dP74D2G4eO7AvRrVbufOi0GR7gpB57bjBiG8=
			</data>
			<key>ProjectItem</key>
			<data>
			WtaPU9rm7J0aQWjjEf7sfCn2HZlql+cuYhRsDffn51Q=
			</data>
			<key>Settings</key>
			<data>
			/kR6J9LdHdGeQ3bOEG69CfXq/Glm07/1uVJBvThbtrk=
			</data>
			<key>TeXFile</key>
			<data>
			6CluIfoPedvZZaGidwNyxpUQEVkzbR2uHZVaqhL5Vl8=
			</data>
			<key>UISettings</key>
			<data>
			AL0Sr6YIEDccEl/u3ahjfjR2096wLe14w4hI35Vhx0U=
			</data>
		</dict>
	</dict>
</dict>
</plist>
