<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-01-01 10:38:33 +0000</string>
	<key>Creator</key>
	<string>Martin Hewitson</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{77, 161}, {358.564, 306.724}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Fuzziness</key>
					<real>32</real>
					<key>ShadowVector</key>
					<string>{6, 6}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{33.885956, 30.77002}, {467.42767, 490.22998}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Fuzziness</key>
					<real>32</real>
					<key>ShadowVector</key>
					<string>{5, 5}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUG4eJYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QMAcIDiYnKzI6PkJHUlNUVVteZHN3
			e36BhIeKjZCTlpmcn6OrrK+yvMDDxsvP0tXZ3FUkbnVsbNIJCgsM
			ViRjbGFzc1pOUy5vYmplY3RzgB+hDYAC3A8QERITFBUWFxgZCRob
			HB0eHyAhICMkJVdwZGZEYXRhWnNvdXJjZVRleHRXdmVyc2lvblhw
			cmVhbWJsZVlwb2ludFNpemVYYmFzZWxpbmVfEA9iYWNrZ3JvdW5k
			Q29sb3JVY29sb3JVdGl0bGVUZGF0ZVRtb2RlgASAKoADgAYjQG2A
			AAAAAAAjAAAAAAAAAACAAIAsgACALRADgC9VMi4wLjDSCSgpKldO
			Uy5kYXRhgAVPER9HJVBERi0xLjMKJcTl8uXrp/Og0MTGCjQgMCBv
			YmoKPDwgL0xlbmd0aCA1IDAgUiAvRmlsdGVyIC9GbGF0ZURlY29k
			ZSA+PgpzdHJlYW0KeAEtjjEKAjEQRXtP8e202NmdSTJkWhftFwY8
			QNBCWGE39wdjlNe84vH5GxZsmBqsCRwZ+wN3vDHOlVEquFNLqySQ
			9rTLoNmYBANHy4qyHi4OI1P5RX8VE4pJoSFR4AxfMd6YvrP+xOl4
			hr9w9XZj+QBJ+R2yCmVuZHN0cmVhbQplbmRvYmoKNSAwIG9iagox
			MTcKZW5kb2JqCjIgMCBvYmoKPDwgL1R5cGUgL1BhZ2UgL1BhcmVu
			dCAzIDAgUiAvUmVzb3VyY2VzIDYgMCBSIC9Db250ZW50cyA0IDAg
			UiAvTWVkaWFCb3ggWzAgMCAxNjUuMiAxNDEuNl0KPj4KZW5kb2Jq
			CjYgMCBvYmoKPDwgL1Byb2NTZXQgWyAvUERGIC9UZXh0IF0gL0Nv
			bG9yU3BhY2UgPDwgL0NzMSA3IDAgUiA+PiAvRm9udCA8PCAvRjEu
			MSA5IDAgUgo+PiA+PgplbmRvYmoKMTAgMCBvYmoKPDwgL0xlbmd0
			aCAxMSAwIFIgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0Zp
			bHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCngBnZZ3VFPZFofP
			vTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQmdkQFRhQRKVZkVMAB
			R4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe+tNfPemv3HWd/Z57fX
			2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPLxPcCGBABDlgBwOFm
			ZgRH+EQC1Py9PZmZqEjGs/buLoBku9ssv1Amc9b/f5EiN0MkBgAK
			RdU2PH4mF+UClFOzxRky/wTK9JUpMoYxMhahCaKsIuPEr2z2p+Yr
			u8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyYJeBno3wHZb1USZoA
			5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifICAAiUxDm8cg6L+Tlo
			ngB4pmfkigSJSWKmEdeYaeXoyGb68bNT+WIxK5TDTeGIeEzP9LQM
			jjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo+b/Z3x5+U/09yHr7VfEm
			7M+eQYyeWd9s7KwvvRYA9iRamx2zvpVVALRtBkDl4axP7yAA8gUA
			tN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7n4Jvyr+GOfeZy+77
			VjumFz+BI0kVM2VF5aanpktEzMwMDpfPZP33EP/jwDlpzcnDLJyf
			wBfxhehVUeiUCYSJaLuFPIFYkC5kCoR/1eF/GDYnBxl+nWsUaHVf
			AH2FOVC4SQfIbz0AQyMDJG4/egJ961sQMQrIvrxorZGvc48yev7n
			+h8LXIpu4UxBIlPm9gyPZHIloiwZo9+EbMECEpAHdKAKNIEuMAIs
			YA0cgDNwA94gAISASBADlgMuSAJpQASyQT7YAApBMdgBdoNqcADU
			gXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHegWkIgvAQFaJBqpAW
			pA+ZQtYQG1oIeUNBUDgUA8VDiZAQkkD50CaoGCqDqqFDUD30I3Qa
			ughdg/qgB9AgNAb9AX2EEZgC02EN2AC2gNmwOxwIR8LL4ER4FZwH
			F8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPRRlgIG/FEQpBYJAER
			IWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgWxhnjh1mM4WJWYdZi
			SjDVmGOYVkwX5jZmEDOB+YKlYtWxplgnrD92CTYRm40txFZgj2Bb
			sJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP14y7gOvDDeEm8Xi8
			Kt4U74IPwXPwYnwhvgp/HH8e348fxr8nkAlaBGuCDyGWICRsJFQQ
			GgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8SRwmTpMUSYYkF1Ik
			KZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64knyBfJQ+SP1CUKCYU
			T0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1aT71EfUp9L0eTM5fz
			l+PJrZOrkWuV65d7JU+U15d3l18unydfIX9K/qb8uAJRwUDBU4Gj
			sFahRuG0wj2FSUWaopViiGKaYolig+I1xVElvJKBkrcST6lA6bDS
			JaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk+nF9B/ovfQJZSVlW+Uo
			5RzlGuWzylIGwjBg+DNSGaWMk4y7jI/zNOa5z+PP2zavaV7/vCmV
			+SpuKnyVIpVmlQGVj6pMVW/VFNWdqm2qT9QwaiZqYWrZavvVLquN
			z6fPd57PnV80/+T8h+qwuol6uPpq9cPqPeqTGpoavhoZGlUalzTG
			NRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ7sxUZiWzizmhra7t
			py3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdct1N3Qk9LL1gvX69R
			76E+UZ+tn6S/R79bf8rA0CDaYItBm8GooYqhv2GeYaPhYyOqkavR
			KqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY1N5UYLrPtM8Ma+Zo
			JjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9i1iLnRbdFl8s7SxT
			LessH1kpWQVYbbTqsPrD2sSaa11jfceGauNjs86m3ea1rakt33a/
			7X07ml2w3Ra7TrvP9g72Ivsm+zEHPYd4h70O99h0dii7hH3VEevo
			4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfwF9QtGHLRceG4HHKR
			LmQujF94cKHUVduV41rr+sxN143ndsRtxN3YPdn9uPsrD0sPkUeL
			x5Snk+cazwteiJevV5FXr7eS92Lvau+nPjo+iT6NPhO+dr6rfS/4
			Yf0C/Xb63fPX8Of61/tPBDgErAnoCqQERgRWBz4LMgkSBXUEw8EB
			wbuCHy/SXyRc1BYCQvxDdoU8CTUMXRX6cxguLDSsJux5uFV4fnh3
			BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVHTUV7RZdFS5dYLFmz
			5EaMWowgpj0WHxsVeyR2cqn30t1Lh+Ps4grj7i4zXJaz7NpyteWp
			y8+ukF/BWXEqHhsfHd8Q/4kTwqnlTK70X7l35QTXk7uH+5Lnxivn
			jfFd+GX8kQSXhLKE0USXxF2JY0muSRVJ4wJPQbXgdbJf8oHkqZSQ
			lKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS/DNKMwQ7rKadXuVROi
			QNGRTChzWWa7mI7+TPVIjCSbJYNZC7Nqst5nR2WfylHMEeb05Jrk
			bssdyfPJ+341ZjV3dWe+dv6G/ME17msOrYXWrlzbuU53XcG64fW+
			649tIG1I2fDLRsuNZRvfbore1FGgUbC+YGiz7+bGQrlCUeG9Lc5b
			DmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS699ZfVf53cz2hO29
			pfal+3fgdgh33N3puvNYmWJZXtnQruBdreXM8qLyt7tX7L5WYVtx
			YA9pj2SPtDKosr1Kr2pH1afqpOqBGo+a5r3qe7ftndrH29e/321/
			0wGNA8UHPh4UHLx/yPdQa61BbcVh3OGsw8/rouq6v2d/X39E7Ujx
			kc9HhUelx8KPddU71Nc3qDeUNsKNksax43HHb/3g9UN7E6vpUDOj
			ufgEOCE58eLH+B/vngw82XmKfarpJ/2f9rbQWopaodbc1om2pDZp
			e0x73+mA050dzh0tP5v/fPSM9pmas8pnS8+RzhWcmzmfd37yQsaF
			8YuJF4c6V3Q+urTk0p2usK7ey4GXr17xuXKp2737/FWXq2euOV07
			fZ19ve2G/Y3WHruell/sfmnpte9tvelws/2W462OvgV95/pd+y/e
			9rp95Y7/nRsDiwb67i6+e/9e3D3pfd790QepD14/zHo4/Wj9Y+zj
			oicKTyqeqj+t/dX412apvfTsoNdgz7OIZ4+GuEMv/5X5r0/DBc+p
			zytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p/rb3ldGrn353+71n
			YsnE8GvR65k/St6ovjn61vZt52To5NN3ae+mp4req74/9oH9oftj
			9MeR6exP+E+Vn40/d3wJ/PJ4Jm1m5t/3hPP7CmVuZHN0cmVhbQpl
			bmRvYmoKMTEgMCBvYmoKMjYxMgplbmRvYmoKNyAwIG9iagpbIC9J
			Q0NCYXNlZCAxMCAwIFIgXQplbmRvYmoKMyAwIG9iago8PCAvVHlw
			ZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEyIDc5Ml0gL0NvdW50
			IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9iagoxMiAwIG9iago8
			PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAwIFIgPj4KZW5kb2Jq
			CjE2IDAgb2JqCjw8IC9MZW5ndGggMTcgMCBSIC9MZW5ndGgxIDEz
			IDAgUiAvTGVuZ3RoMiAxNCAwIFIgL0xlbmd0aDMgMTUgMCBSIC9G
			aWx0ZXIKL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Ae1SW1QT5xpF
			ihVDlWC9FIXyA9ISETIDCZAIBMpFuYQqqNEW0HEykYFkJmcY0kRQ
			EUVRUakgGhSR2lbQFrlq4bT0yLHCKpcjaNXkeANTFCilcvWC2glU
			15Lz0Jfz1NWZl/m/b8/+9r/352QfQhL0So0Sg11hN0gIVqyOCF8Z
			7BIoFofCEIAgpgh5zHByCqQwhMZJIgihMSGABQJPEJYsB+4eAPIS
			8j2EfC+WEwgklRoK3xhPA+dAjhHkBQIUGIWjCAHECB2PKRgOFJGD
			aBLFMVrjBgLkchBl/CMJRGFJGKXCpG4sGAZSHKXBBmwjTrC4RoWh
			hIwEXhNlabLyZUuFUUmMKOAMu8EQxAGMSClJyDVAislY3EiSmYYx
			Wv4fsiaThyTL5ZGIwkg/7tX/9BEFLtf8gSAVymQao4CYlGIUMRkq
			wSY8E2NSPFkxuRtKI3IcDSA2yjHgCvPcIN7E7fCkEFyNSZfjNBoP
			ZIg8CRuvY4R0kg1G/8Z1cF8Pd9yj5Qg+kT+AJmhf7gNgQjCaaDwz
			2VG4GnwMMcsAM0DmffkVO2lYMIGSUpzYCNz5ngChKETDghgqdz4f
			pMAAJ6SYGmBqRjHXjSBpZgJgnNkMZCTFMubKRM9F5Mp4xFhmvR6n
			UckHH5DqFFcPd+Dqzmd4IZ438OJDm18HvtIQTSOEFKGkrwrGG6HJ
			FIUR9PiGMWa9PMtwxl8MU2MoS3eNRJfsSDh8bmfJluCTl09P5STZ
			aE/taK7LqNIuceu9vWTWVer8f1Zi7w5YZVgl4GfYeX3hX3OlMv5d
			63MBqQ0p0dyMG1YNM2ZzivKjp/WjvTFxpo2Fl+otFQW77+vsDMrz
			Lv16x+E7qrqpZyO6Ya/PrPv2mJVcv/ZscEvi1pa7OosjUsef81ix
			hf+MOIStfnAnu+nJL0vJk6Tui8Z5MfnDbz/XWdffak+8OUMr2Fso
			fuMnre/YdIijlnW0sOCjiXa6NccFYdFCcxvPq6tPaIHJfF977Rq/
			mm/Cxb+a32vjCO7Za99qD03fnLdMErpqZMHpolloyQK579IvrKdg
			ZfUffa/wIy7sMpStSJ+VWHbZ3TcXVp4/5BS1/vEzp4GF+8yGYp8+
			vT36Yq/19/1oir3JO6WmEhfvoyKVs0svpxmynnols8F+LRKfc58O
			EC27beG/95KiVdSRWvNIDNYIfkqbfa0401HnzuoWPlYcPrFY/JFL
			xTcNB2OC1SaCtRfpmGNZjW//0BoMfiyIq6g41HEjKzZNGbSdB23a
			FZWw+/jT2C496fqYv75o8FSPaU9hQXZ4j0WdaN9SYanVGaBCoprq
			iyoP+D+XuDdcSA/nJupzc32Wp5Xf33xgxoOknJBV5Ycr010DZAOi
			m78d0i9zmmZ1rqIrt7ge/uVOwwb7mJAq79rzQcd/e+/Akz7wUDVI
			sGTi6txUnfki7SJD3jH2ML+z+XL2hhqVTSu9TpSTmNdxZMRxk3/l
			HluzqC67tjP9/dvqIrgnd41FXoACNKkO/zW01CegZKO+pumWzzoH
			58jdN7dcHlmd3cn2mfnDQpe2ZnLdt6eKzeVjPT22YaOSTNJ7TuiU
			kqJ0ELa0uHts+FGvp7C+nW3pH35d6fd+8HdaL+JsGzkYY1truTAs
			cV/Qm2v5nTVX+U1HTe0qEzyHZAlpZn2325o84o5rmtlTD1YtNtvU
			v5471lWT4dogbLXwnuNd2Jpwdv+g6vm/lnz45qMb2IPWf1QpUV9e
			2ZppVQ7oFY5gUeDHtU/Wd5oI9LarKlNDFsflz3xis6Piob62+laX
			ySfBa5tHJcSigTlvfW7Ju5gR916bbXfc9IiYg792FaflVnEMPtl1
			WVPS4SG/3iZ6Ovbgin1BSoGsPCi/xVsnn3eOcrE5zdnJ6ossKzT8
			7Nm1MopXcwTPqcp/17mljqMd0n+dPe/Ehf32QcO7rl+a20Kvo+LT
			9ljM3VOq38rOfHEjUPHpNC//2vIXpdsU7MyssU6x7zZJ9Xc1n7Pz
			m6jFc5oaI7Nch+jtF1W6oWOP/ez0A8tmO6nxiOoRScd8NkX0XYsY
			Fe8sMZ8vKk1vQzory+M0SQMwq9ZcabqjPm9rt4gnz9wtSfuMdzPH
			kSLuDX/F84HbWLBhFL709MdnK4pGTD8Z9ryYIzCsEn355dz9sz7l
			P3S+X5nuucByg+GewzvPgtqtb+XP9HfY/u/q9vZvS4LvQn/ysP6k
			D/0NmHDoL+IDKscQiiYVCJXI+h0PZoPMCmVuZHN0cmVhbQplbmRv
			YmoKMTcgMCBvYmoKMTY3MgplbmRvYmoKMTMgMCBvYmoKNzg5CmVu
			ZG9iagoxNCAwIG9iagoxMDkxCmVuZG9iagoxNSAwIG9iago1NDAK
			ZW5kb2JqCjE4IDAgb2JqCjw8IC9UeXBlIC9Gb250RGVzY3JpcHRv
			ciAvQXNjZW50IDc1MCAvQ2FwSGVpZ2h0IDY2NiAvRGVzY2VudCAt
			MjUwIC9GbGFncyA0Ci9Gb250QkJveCBbLTY0IC0yODIgMTA4MCA3
			ODJdIC9Gb250TmFtZSAvUVZMS1RFK0NNTUkxMCAvSXRhbGljQW5n
			bGUgLTE0IC9TdGVtVgo3MiAvTWF4V2lkdGggMTA4MCAvU3RlbUgg
			MzEgL1hIZWlnaHQgNTAwIC9Gb250RmlsZSAxNiAwIFIgPj4KZW5k
			b2JqCjE5IDAgb2JqClsgNjQwIF0KZW5kb2JqCjIwIDAgb2JqCjw8
			IC9UeXBlIC9FbmNvZGluZyAvRGlmZmVyZW5jZXMgWyAzMyAvYWxw
			aGEgXSA+PgplbmRvYmoKMjEgMCBvYmoKPDwgL0xlbmd0aCAyMiAw
			IFIgL0ZpbHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCngBXZDB
			bsMgEETvfMUek0OEnV4RUpUqkg9tqrr9AAxrCyle0Bof/PcF6qZS
			D3tgZh4MKy/dS0c+gXznYHtMMHpyjEtY2SIMOHkS7Rmct2k/Vc3O
			JgqZ4X5bEs4djQGUEgDyIyNL4g0Ozy4MeCzajR2ypwkOX5e+Kv0a
			4x1npASN0Bocjvm6VxPfzIwgK3rqXPZ92k6Z+kt8bhEhN8pE+1PJ
			BodLNBbZ0IRCNY1W16sWSO6ftQPDuCfPrVZlmqehrflfp6Dli49K
			dmXObeoeatFSwBM+VhVDLA/W+QZ92nBGCmVuZHN0cmVhbQplbmRv
			YmoKMjIgMCBvYmoKMjI0CmVuZG9iago5IDAgb2JqCjw8IC9UeXBl
			IC9Gb250IC9TdWJ0eXBlIC9UeXBlMSAvQmFzZUZvbnQgL1FWTEtU
			RStDTU1JMTAgL0ZvbnREZXNjcmlwdG9yIDE4IDAgUgovV2lkdGhz
			IDE5IDAgUiAvRmlyc3RDaGFyIDMzIC9MYXN0Q2hhciAzMyAvVG9V
			bmljb2RlIDIxIDAgUiAvRW5jb2RpbmcgMjAgMCBSCj4+CmVuZG9i
			agoyMyAwIG9iagooTWFjIE9TIFggMTAuNi4yIFF1YXJ0eiBQREZD
			b250ZXh0KQplbmRvYmoKMjQgMCBvYmoKKExhVGVYaVQpCmVuZG9i
			agoyNSAwIG9iagooRDoyMDEwMDIxNzExNDMzNlowMCcwMCcpCmVu
			ZG9iagoxIDAgb2JqCjw8IC9Qcm9kdWNlciAyMyAwIFIgL0NyZWF0
			b3IgMjQgMCBSIC9DcmVhdGlvbkRhdGUgMjUgMCBSIC9Nb2REYXRl
			IDI1IDAgUiA+PgplbmRvYmoKb2JqCjw8Ci9FbmNvZGluZyAvTWFj
			Um9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5ub3BFU3NsYXNo
			ZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNrYXJ0aWNsZUVT
			cmlnaHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1c2VuYW1lc11F
			U2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICV1c2VkIGZvciBm
			b250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2th
			bXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFj
			a2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmlnaHRicmFjayAlbWF0
			aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1FU2xlZnRicmFja2lu
			cHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwgdG8gdHlwZSBkaXJl
			Y3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpFU2Fubm9wZW5kKQov
			RXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1Q2RvY3VtZW50Y2xh
			c3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUwQSU1Q3VzZXBhY2th
			Z2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdEJTIwJTI1dXNlZCUy
			MGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2UlN0Jh
			bXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdC
			YW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1
			QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUyMHRv
			JTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hhcmFj
			dGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5vdEVT
			c2xhc2hhbHBoYUVTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAo
			RVNhbm5vZXMlNUNhbHBoYUVTYW5ub2VzZW5kKQovVHlwZSAoRUV0
			eXBlM0VFdHlwZWVuZCkKL0NvbG9yIChFRWNvbDEuMDAwMDAwIDEu
			MDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVjb2xlbmQpCi9CS0Nv
			bG9yIChFRWJrYzEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwIDEu
			MDAwMDAwRUVia2NlbmQpCi9UaXRsZSAoRUV0aXRsZUVFdGl0bGVl
			bmQpCi9NYWduaWZpY2F0aW9uIChFRW1hZzIzNi4wMDAwMDBFRW1h
			Z2VuZCkKL0Jhc2VsaW5lIChFRWJhczAuMDAwMDAwRUViYXNlbmQp
			Cj4+CmVuZG9iagp4cmVmCjAgMjYKMDAwMDAwMDAwMCA2NTUzNSBm
			IAowMDAwMDA2MTU1IDAwMDAwIG4gCjAwMDAwMDAyMzIgMDAwMDAg
			biAKMDAwMDAwMzIxMCAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAw
			IG4gCjAwMDAwMDAyMTMgMDAwMDAgbiAKMDAwMDAwMDM0MCAwMDAw
			MCBuIAowMDAwMDAzMTc0IDAwMDAwIG4gCjAwMDAwMDAwMDAgMDAw
			MDAgbiAKMDAwMDAwNTg2MSAwMDAwMCBuIAowMDAwMDAwNDM4IDAw
			MDAwIG4gCjAwMDAwMDMxNTMgMDAwMDAgbiAKMDAwMDAwMzI5MyAw
			MDAwMCBuIAowMDAwMDA1MTYwIDAwMDAwIG4gCjAwMDAwMDUxODAg
			MDAwMDAgbiAKMDAwMDAwNTIwMSAwMDAwMCBuIAowMDAwMDAzMzQz
			IDAwMDAwIG4gCjAwMDAwMDUxMzkgMDAwMDAgbiAKMDAwMDAwNTIy
			MSAwMDAwMCBuIAowMDAwMDA1NDUyIDAwMDAwIG4gCjAwMDAwMDU0
			NzYgMDAwMDAgbiAKMDAwMDAwNTU0MSAwMDAwMCBuIAowMDAwMDA1
			ODQxIDAwMDAwIG4gCjAwMDAwMDYwMzUgMDAwMDAgbiAKMDAwMDAw
			NjA4NyAwMDAwMCBuIAowMDAwMDA2MTEzIDAwMDAwIG4gCnRyYWls
			ZXIKPDwgL1NpemUgMjYgL1Jvb3QgMTIgMCBSIC9JbmZvIDEgMCBS
			IC9JRCBbIDwyYmNhNDM1YTZiMjUwZWI5ZjU2MmJkMzhiYjg3Njcw
			ND4KPDJiY2E0MzVhNmIyNTBlYjlmNTYyYmQzOGJiODc2NzA0PiBd
			ID4+CnN0YXJ0eHJlZgo3MzMxCiUlRU9G0iwtLi9aJGNsYXNzbmFt
			ZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoy4wMVZOU0RhdGFYTlNP
			YmplY3TUMwk0NTY3ODlcTlNBdHRyaWJ1dGVzWE5TU3RyaW5nXxAP
			TlNBdHRyaWJ1dGVJbmZvgAmAKYAHgCjSCTs8PVlOUy5zdHJpbmeA
			CF8Q0lxkb2N1bWVudGNsYXNzWzEwcHRde2FydGljbGV9Clx1c2Vw
			YWNrYWdlW3VzZW5hbWVzXXtjb2xvcn0gJXVzZWQgZm9yIGZvbnQg
			Y29sb3IKXHVzZXBhY2thZ2V7YW1zc3ltYn0gJW1hdGhzClx1c2Vw
			YWNrYWdle2Ftc21hdGh9ICVtYXRocwpcdXNlcGFja2FnZVt1dGY4
			XXtpbnB1dGVuY30gJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRp
			YWNyaXRpYyBjaGFyYWN0ZXJzCtIsLT9AXxAPTlNNdXRhYmxlU3Ry
			aW5noz9BMVhOU1N0cmluZ9IJCkNEgCeiRUaACoAl0wlICklKTldO
			Uy5rZXlzgCSjS0xNgAuADIANo09QUYAOgBCAIVdOU0NvbG9yXxAQ
			TlNQYXJhZ3JhcGhTdHlsZVZOU0ZvbnTTCVZXWFlaXE5TQ29sb3JT
			cGFjZVVOU1JHQoAPEAFMMC41IDAuNSAwLjUA0iwtXF1XTlNDb2xv
			cqJcMdNfCWBhYmNaTlNUYWJTdG9wc1tOU0FsaWdubWVudIARgCAQ
			BNIJCgtmgB+sZ2hpamtsbW5vcHFygBKAFIAVgBaAF4AYgBmAGoAb
			gByAHYAe0nQJdXZaTlNMb2NhdGlvbiNAPAAAAAAAAIAT0iwteHlZ
			TlNUZXh0VGFionoxWU5TVGV4dFRhYtJ0CXx2I0BMAAAAAAAAgBPS
			dAl/diNAVQAAAAAAAIAT0nQJgnYjQFwAAAAAAACAE9J0CYV2I0Bh
			gAAAAAAAgBPSdAmIdiNAZQAAAAAAAIAT0nQJi3YjQGiAAAAAAACA
			E9J0CY52I0BsAAAAAAAAgBPSdAmRdiNAb4AAAAAAAIAT0nQJlHYj
			QHGAAAAAAACAE9J0CZd2I0BzQAAAAAAAgBPSdAmadiNAdQAAAAAA
			AIAT0iwtnZ5XTlNBcnJheaKdMdIsLaChXxAQTlNQYXJhZ3JhcGhT
			dHlsZaKiMV8QEE5TUGFyYWdyYXBoU3R5bGXUCaSlpqeoqapWTlNO
			YW1lVk5TU2l6ZVhOU2ZGbGFnc4AjgCIjQCgAAAAAAAAQEFZNb25h
			Y2/SLC2trlZOU0ZvbnSirTHSLC2wsVxOU0RpY3Rpb25hcnmisDHT
			CUgKSbS4gCSjS0xNgAuADIANo7lQUYAmgBCAIdMJVr1YJL9XTlNX
			aGl0ZYAPQjAA0iwtwcJeTlNNdXRhYmxlQXJyYXmjwZ0x0gkoKcWA
			BUkdAAEBMQCDAQHSLC3HyF8QGU5TTXV0YWJsZUF0dHJpYnV0ZWRT
			dHJpbmejycoxXxAZTlNNdXRhYmxlQXR0cmlidXRlZFN0cmluZ18Q
			Ek5TQXR0cmlidXRlZFN0cmluZ9MzCTRGN86AJYApgCvSCTs80YAI
			VlxhbHBoYdMJVldYWdSAD0YxIDEgMQDS1gnX2FdOUy50aW1lI0Gx
			LA3oOhWHgC7SLC3a21ZOU0RhdGWi2jHSLC3d3l8QD0xhdGV4aXRF
			cXVhdGlvbqPf4DFfEA9MYXRleGl0RXF1YXRpb25fEA9OU01hbmFn
			ZWRPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR4+RUcm9vdIABAAgA
			EQAaACMALQAyADcAagBwAHUAfACHAIkAiwCNAKYArgC5AMEAygDU
			AN0A7wD1APsBAAEFAQcBCQELAQ0BFgEfASEBIwElAScBKQErATEB
			NgE+AUAgiyCQIJsgpCCyILYgvSDGIM8g3CDlIPcg+SD7IP0g/yEE
			IQ4hECHlIeoh/CIAIgkiDiIQIhMiFSIXIh4iJiIoIiwiLiIwIjIi
			NiI4IjoiPCJEIlciXiJlInIieCJ6InwiiSKOIpYimSKgIqsityK5
			IrsivSLCIsQi0SLTItUi1yLZItsi3SLfIuEi4yLlIuci6SLuIvkj
			AiMEIwkjEyMWIyAjJSMuIzAjNSM+I0AjRSNOI1AjVSNeI2AjZSNu
			I3AjdSN+I4AjhSOOI5AjlSOeI6AjpSOuI7AjtSO+I8AjxSPOI9Aj
			1SPdI+Aj5SP4I/skDiQXJB4kJSQuJDAkMiQ7JD0kRCRJJFAkUyRY
			JGUkaCRvJHEkdSR3JHkkeyR/JIEkgySFJIwklCSWJJkkniStJLEk
			tiS4JMIkxyTjJOclAyUYJR8lISUjJSUlKiUsJTMlOiU8JUMlSCVQ
			JVklWyVgJWclaiVvJYElhSWXJakluyW+JcMAAAAAAAACAQAAAAAA
			AADlAAAAAAAAAAAAAAAAAAAlxQ==
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.pdf</string>
		<string>image6.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-01-01 10:43:12 +0000</string>
	<key>Modifier</key>
	<string>Martin Hewitson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{420, 96}, {693, 938}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {558, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
