<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.12.0.121252</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-02-13 17:23:17 +0100</string>
	<key>Creator</key>
	<string>Martin Hewitson</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{260.274, 87.6712}, {206.808, 206.808}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Fuzziness</key>
					<real>32</real>
					<key>ShadowVector</key>
					<string>{6, 6}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{121.726, 280.822}, {170, 180}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{81.9314, 120.425}, {350.685, 389.041}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>32</real>
					<key>ShadowVector</key>
					<string>{10, 10}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>48</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUG3t9YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QLwcIDiYnKzI6PkJHUlNUVVteZHN3
			e36BhIeKjZCTlpmcn6OrrK+yvMDDxsvP0tbZVSRudWxs0gkKCwxW
			JGNsYXNzWk5TLm9iamVjdHOAH6ENgALcDxAREhMUFRYXGBkJGhsc
			HR4fICEgIyQlV3BkZkRhdGFac291cmNlVGV4dFd2ZXJzaW9uWHBy
			ZWFtYmxlWXBvaW50U2l6ZVhiYXNlbGluZV8QD2JhY2tncm91bmRD
			b2xvclVjb2xvclV0aXRsZVRkYXRlVG1vZGWABIAqgAOABiNAYAAA
			AAAAACMAAAAAAAAAAIAAgCaAAIAsEAOALlUyLjAuMNIJKCkqV05T
			LmRhdGGABU8RH08lUERGLTEuMwolxOXy5eun86DQxMYKNCAwIG9i
			ago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVjb2Rl
			ID4+CnN0cmVhbQp4AS2OsQoCMRBEe79i7LS4vWwSN7utov3Bgh8Q
			tBBOuMv/g/GUYeDBvGIWTFgQerj0asD6wB1vjJfGqG2bAlrtFkfS
			n/qFIYkZxZwwaCiJrJx2dcbZYWQSZTP/GFUpi0BypqIRPmO8MTEY
			/sRhf4S/cPX+ZfoA3sIevAplbmRzdHJlYW0KZW5kb2JqCjUgMCBv
			YmoKMTIyCmVuZG9iagoyIDAgb2JqCjw8IC9UeXBlIC9QYWdlIC9Q
			YXJlbnQgMyAwIFIgL1Jlc291cmNlcyA2IDAgUiAvQ29udGVudHMg
			NCAwIFIgL01lZGlhQm94IFswIDAgMTcwIDE4MF0KPj4KZW5kb2Jq
			CjYgMCBvYmoKPDwgL1Byb2NTZXQgWyAvUERGIC9UZXh0IF0gL0Nv
			bG9yU3BhY2UgPDwgL0NzMSA3IDAgUiA+PiAvRm9udCA8PCAvRjEu
			MSA5IDAgUgo+PiA+PgplbmRvYmoKMTAgMCBvYmoKPDwgL0xlbmd0
			aCAxMSAwIFIgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0Zp
			bHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCngBnZZ3VFPZFofP
			vTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQmdkQFRhQRKVZkVMAB
			R4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe+tNfPemv3HWd/Z57fX
			2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPLxPcCGBABDlgBwOFm
			ZgRH+EQC1Py9PZmZqEjGs/buLoBku9ssv1Amc9b/f5EiN0MkBgAK
			RdU2PH4mF+UClFOzxRky/wTK9JUpMoYxMhahCaKsIuPEr2z2p+Yr
			u8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyYJeBno3wHZb1USZoA
			5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifICAAiUxDm8cg6L+Tlo
			ngB4pmfkigSJSWKmEdeYaeXoyGb68bNT+WIxK5TDTeGIeEzP9LQM
			jjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo+b/Z3x5+U/09yHr7VfEm
			7M+eQYyeWd9s7KwvvRYA9iRamx2zvpVVALRtBkDl4axP7yAA8gUA
			tN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7n4Jvyr+GOfeZy+77
			VjumFz+BI0kVM2VF5aanpktEzMwMDpfPZP33EP/jwDlpzcnDLJyf
			wBfxhehVUeiUCYSJaLuFPIFYkC5kCoR/1eF/GDYnBxl+nWsUaHVf
			AH2FOVC4SQfIbz0AQyMDJG4/egJ961sQMQrIvrxorZGvc48yev7n
			+h8LXIpu4UxBIlPm9gyPZHIloiwZo9+EbMECEpAHdKAKNIEuMAIs
			YA0cgDNwA94gAISASBADlgMuSAJpQASyQT7YAApBMdgBdoNqcADU
			gXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHegWkIgvAQFaJBqpAW
			pA+ZQtYQG1oIeUNBUDgUA8VDiZAQkkD50CaoGCqDqqFDUD30I3Qa
			ughdg/qgB9AgNAb9AX2EEZgC02EN2AC2gNmwOxwIR8LL4ER4FZwH
			F8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPRRlgIG/FEQpBYJAER
			IWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgWxhnjh1mM4WJWYdZi
			SjDVmGOYVkwX5jZmEDOB+YKlYtWxplgnrD92CTYRm40txFZgj2Bb
			sJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP14y7gOvDDeEm8Xi8
			Kt4U74IPwXPwYnwhvgp/HH8e348fxr8nkAlaBGuCDyGWICRsJFQQ
			GgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8SRwmTpMUSYYkF1Ik
			KZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64knyBfJQ+SP1CUKCYU
			T0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1aT71EfUp9L0eTM5fz
			l+PJrZOrkWuV65d7JU+U15d3l18unydfIX9K/qb8uAJRwUDBU4Gj
			sFahRuG0wj2FSUWaopViiGKaYolig+I1xVElvJKBkrcST6lA6bDS
			JaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk+nF9B/ovfQJZSVlW+Uo
			5RzlGuWzylIGwjBg+DNSGaWMk4y7jI/zNOa5z+PP2zavaV7/vCmV
			+SpuKnyVIpVmlQGVj6pMVW/VFNWdqm2qT9QwaiZqYWrZavvVLquN
			z6fPd57PnV80/+T8h+qwuol6uPpq9cPqPeqTGpoavhoZGlUalzTG
			NRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ7sxUZiWzizmhra7t
			py3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdct1N3Qk9LL1gvX69R
			76E+UZ+tn6S/R79bf8rA0CDaYItBm8GooYqhv2GeYaPhYyOqkavR
			KqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY1N5UYLrPtM8Ma+Zo
			JjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9i1iLnRbdFl8s7SxT
			LessH1kpWQVYbbTqsPrD2sSaa11jfceGauNjs86m3ea1rakt33a/
			7X07ml2w3Ra7TrvP9g72Ivsm+zEHPYd4h70O99h0dii7hH3VEevo
			4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfwF9QtGHLRceG4HHKR
			LmQujF94cKHUVduV41rr+sxN143ndsRtxN3YPdn9uPsrD0sPkUeL
			x5Snk+cazwteiJevV5FXr7eS92Lvau+nPjo+iT6NPhO+dr6rfS/4
			Yf0C/Xb63fPX8Of61/tPBDgErAnoCqQERgRWBz4LMgkSBXUEw8EB
			wbuCHy/SXyRc1BYCQvxDdoU8CTUMXRX6cxguLDSsJux5uFV4fnh3
			BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVHTUV7RZdFS5dYLFmz
			5EaMWowgpj0WHxsVeyR2cqn30t1Lh+Ps4grj7i4zXJaz7NpyteWp
			y8+ukF/BWXEqHhsfHd8Q/4kTwqnlTK70X7l35QTXk7uH+5Lnxivn
			jfFd+GX8kQSXhLKE0USXxF2JY0muSRVJ4wJPQbXgdbJf8oHkqZSQ
			lKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS/DNKMwQ7rKadXuVROi
			QNGRTChzWWa7mI7+TPVIjCSbJYNZC7Nqst5nR2WfylHMEeb05Jrk
			bssdyfPJ+341ZjV3dWe+dv6G/ME17msOrYXWrlzbuU53XcG64fW+
			649tIG1I2fDLRsuNZRvfbore1FGgUbC+YGiz7+bGQrlCUeG9Lc5b
			DmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS699ZfVf53cz2hO29
			pfal+3fgdgh33N3puvNYmWJZXtnQruBdreXM8qLyt7tX7L5WYVtx
			YA9pj2SPtDKosr1Kr2pH1afqpOqBGo+a5r3qe7ftndrH29e/321/
			0wGNA8UHPh4UHLx/yPdQa61BbcVh3OGsw8/rouq6v2d/X39E7Ujx
			kc9HhUelx8KPddU71Nc3qDeUNsKNksax43HHb/3g9UN7E6vpUDOj
			ufgEOCE58eLH+B/vngw82XmKfarpJ/2f9rbQWopaodbc1om2pDZp
			e0x73+mA050dzh0tP5v/fPSM9pmas8pnS8+RzhWcmzmfd37yQsaF
			8YuJF4c6V3Q+urTk0p2usK7ey4GXr17xuXKp2737/FWXq2euOV07
			fZ19ve2G/Y3WHruell/sfmnpte9tvelws/2W462OvgV95/pd+y/e
			9rp95Y7/nRsDiwb67i6+e/9e3D3pfd790QepD14/zHo4/Wj9Y+zj
			oicKTyqeqj+t/dX412apvfTsoNdgz7OIZ4+GuEMv/5X5r0/DBc+p
			zytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p/rb3ldGrn353+71n
			YsnE8GvR65k/St6ovjn61vZt52To5NN3ae+mp4req74/9oH9oftj
			9MeR6exP+E+Vn40/d3wJ/PJ4Jm1m5t/3hPP7CmVuZHN0cmVhbQpl
			bmRvYmoKMTEgMCBvYmoKMjYxMgplbmRvYmoKNyAwIG9iagpbIC9J
			Q0NCYXNlZCAxMCAwIFIgXQplbmRvYmoKMyAwIG9iago8PCAvVHlw
			ZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEyIDc5Ml0gL0NvdW50
			IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9iagoxMiAwIG9iago8
			PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAwIFIgPj4KZW5kb2Jq
			CjE2IDAgb2JqCjw8IC9MZW5ndGggMTcgMCBSIC9MZW5ndGgxIDEz
			IDAgUiAvTGVuZ3RoMiAxNCAwIFIgL0xlbmd0aDMgMTUgMCBSIC9G
			aWx0ZXIKL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Ae2Sa1gTZxbH
			pdxirBa3W1uh6BvkfsuNAKF2KVcBAYGUi4qXMTMhYyczMJmERFC0
			KIi2FBXE4LJyEdioFAQRLJcHagFBeYq20NICoihYsUrBrsrWsBNY
			+jyyH/plP+2zM1/mPec/5/zf3zk2rEACpz5UJyJcF64rxwuEBkf7
			imKc/MIC4rgcwOHQQQ5/uY2NH4lAFErg/hCFeAGuUMgDIQoM8PiA
			x/Xi8bzcPJk2wI9IVJNogpQC9n4OepEH8JEhJCqGcBAGUVJERtcQ
			QxgQEWIUodSuwAfDQJT+DzmIQuQIqURgVyaXC2BUTIFdSAKKM9l6
			h8G4hAAe82FYkbiQUiKknDYF7PU2HQDtESZwTA1gRMJkhxN0M4S2
			8t9wtbh4oALDwiGZvvwcqv/IQzIUU/9bQcgSFRRCgjACRkh8sTQW
			mUcWhsCoQrY4G0xBGCr2wRMwBHDmL4bKA1EVAkeglFgKJBAmR+bi
			CA4vIqAnN2eB/epY5/BEQOj85BfKLmwCoPHr+enP9NRIVAW2cmi+
			XFpIvwtf2xY1C8DFBIziCYAncAcQSUJqJocuxRMIQAoXoDiMqACi
			oh2zXXGCojsAGspeICFIpn6inp6ALVfI9BtC4DAqT8QgtV7BfHWo
			elO+voQqxYXnBlx4Qne6h5vADXh48Pa+qvzdj4iCcBgi4d8D+tuJ
			FSSJ4NTcntHgFs4SlMaMICpEzBzoJ8TvHdydfzlDuy+gtPecsaOB
			b0J9Tnht6zfNy9K/P2aAlXdvTHIcrombOV/w5oox47G1yb9ZyI80
			pUb2BD45kJRzqk83ptw5VrDnikXcVEGY+n6i1bP0iTcaL3/79JHA
			YNOt4eva3M1n2wsnOyaKI+z9Pxw3HWQtaduqvNR2+qC7R1xgARad
			eajGls+KMjuVpD3sljmUbJZ73Gjo6/R9uzMZDU4//kI0Kf40U8oo
			OqGL/7Whu6Oipa7XSnl/5WyV453VZsOmhDXXMrc39cLVddM7D6et
			KbYYqjieNs3bnPGy+vzta9kbPxg/lcXqi3zESJjo9m+NiZ0cPPaX
			FI5R2fQdfgqaqWsKeJF1bVDWWhm7L8fbuLfPl1H0eZp9p9svnDb+
			pYNWLd9mCEvqw0MZU+Nmd0M00xtGngpDx8Iv1AXH4llG4VEPWzZv
			7YLfkhV+4nT+jWBJeJ5lqvn7b2d9lWbYaWwu7ntw22jmwgbBmo+7
			R9QhWtQZjpIeoSrKKyqXluwL+rMyJL3wztHb/nFh31uecSzXTWY8
			mb3Fu7LnCZQfX2K7aThAdfVq0clEklVf1t8wbfsk+rNtAQ61ElnV
			7ddfxodoTvD5PdYmnzHPOetCLY+7GRqHHeNFLGupr/pIlK+xmXDC
			Zh+3XTGbbBF+fkCataPxYyNTXvT2yMbS5CCb/pfePXtPDgQVJy89
			E6r16i5ZdUPTPDQ0/VuSZYpv6m7R3i5OdCrrXPBf8w6/Hesjybqo
			tZA8Nhfd899yvkmz5NPMXbVLd9lJ30FZ4zGGdhZuG7oyvnJ8/qJ8
			dYNPd31qAGtVgc/hTV1/q/ni2Ki3UUduXcwEdn1qtv3cW6L1rZO2
			60Y0e46cCu9xaL/eaABiK9Ye2la91rdqd7ZzUXa+3Zby/j7EPXLV
			PRcnDfRFcvCSkHbHa0H8zBXutj/E5PmF3jyx1ibXB35zi4Q0eH8o
			l6W6FSUleiNZVZh3x7IGMIqxyYq2cqsdWYW60srCFxX9Ix/UPC9m
			aTjsSOVT16Wg9539JpUtaf9ojbXwxnSrkgZmS16rk49/+o0s7+LX
			Kst2weVRSfSXz7LNy0wZgzfJSfOjK/8pkOTMSk1/chae3NY80zQ6
			JlJ8otGY3O9xym0u7guycDLbWTb4zDpw+rVa++pf1Vqbyrq8H1bG
			9Xey/NOWn3FMz3Meef2749sLeJ6U0bSBUv3Y/FEKK+vBmrNWPbyd
			D464eI4JTasrvdBaRvTNxpo9k/wZf3lkyKNdtqeV655K028wHjN0
			MZtXq1Sc7QKZiTbs74cquVhLKn4v9fqNn/aXDLAf7rhoTVZFFhld
			jK9W5WivmQYdsN8/1XE3e8BeG7GiOf++4c9LSnHqREdQuh33Z0Nz
			V65wPMDECQv5riM/ev27Uw+Nb7AZoE/gULbj+UG7ok7Ny0uqjZKj
			l++WD1sZXFCfrWmZPL3c8t6o9XrdeuPMxFtbOhnDovguQ84fPMw/
			yHP+L5gn9D/CQYwhEEkRMoj8iPkvNaaA7gplbmRzdHJlYW0KZW5k
			b2JqCjE3IDAgb2JqCjE2NzMKZW5kb2JqCjEzIDAgb2JqCjc5NQpl
			bmRvYmoKMTQgMCBvYmoKMTA4NgplbmRvYmoKMTUgMCBvYmoKNTQw
			CmVuZG9iagoxOCAwIG9iago8PCAvVHlwZSAvRm9udERlc2NyaXB0
			b3IgL0FzY2VudCA3NzIgL0NhcEhlaWdodCA2ODYgL0Rlc2NlbnQg
			LTI5NjAgL0ZsYWdzCjQgL0ZvbnRCQm94IFstNTYgLTI5OTIgMTQ4
			NiA4MDRdIC9Gb250TmFtZSAvTElVQlNWK0NNRVgxMCAvSXRhbGlj
			QW5nbGUgMCAvU3RlbVYKNDcgL01heFdpZHRoIDE0NzggL1N0ZW1I
			IDQ3IC9YSGVpZ2h0IDUxNCAvRm9udEZpbGUgMTYgMCBSID4+CmVu
			ZG9iagoxOSAwIG9iagpbIDE0NDQgXQplbmRvYmoKMjAgMCBvYmoK
			PDwgL1R5cGUgL0VuY29kaW5nIC9EaWZmZXJlbmNlcyBbIDMzIC9z
			dW1tYXRpb25kaXNwbGF5IF0gPj4KZW5kb2JqCjIxIDAgb2JqCjw8
			IC9MZW5ndGggMjIgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+
			CnN0cmVhbQp4AV2Qz2rEIBDG7z7FHLeHxWTPIpQtCzn0D037AEbH
			IDSjTMwhb1+16RYqzMHvm9/4OfI6PA0UMsg3jnbEDD6QY1zjxhZh
			wjmQ6C/ggs3HrWl2MUnIAo/7mnEZyEdQSgDI94KsmXc4Pbo44UPV
			XtkhB5rh9HkdmzJuKX3hgpShE1qDQ1/GPZv0YhYE2dDz4Iof8n4u
			1F/Hx54QSqJC9D+RbHS4JmORDc0oVNdpdbtpgeT+WQcw+aPz0mtV
			y5fT+n+ditYv3iPZjbmkaXtoQWuAQHhfVYqpPtjqG67+cOgKZW5k
			c3RyZWFtCmVuZG9iagoyMiAwIG9iagoyMjIKZW5kb2JqCjkgMCBv
			YmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1R5cGUxIC9CYXNl
			Rm9udCAvTElVQlNWK0NNRVgxMCAvRm9udERlc2NyaXB0b3IgMTgg
			MCBSCi9XaWR0aHMgMTkgMCBSIC9GaXJzdENoYXIgMzMgL0xhc3RD
			aGFyIDMzIC9Ub1VuaWNvZGUgMjEgMCBSIC9FbmNvZGluZyAyMCAw
			IFIKPj4KZW5kb2JqCjIzIDAgb2JqCihNYWMgT1MgWCAxMC42LjIg
			UXVhcnR6IFBERkNvbnRleHQpCmVuZG9iagoyNCAwIG9iagooTGFU
			ZVhpVCkKZW5kb2JqCjI1IDAgb2JqCihEOjIwMTAwMjEzMTYyMzUx
			WjAwJzAwJykKZW5kb2JqCjEgMCBvYmoKPDwgL1Byb2R1Y2VyIDIz
			IDAgUiAvQ3JlYXRvciAyNCAwIFIgL0NyZWF0aW9uRGF0ZSAyNSAw
			IFIgL01vZERhdGUgMjUgMCBSID4+CmVuZG9iagpvYmoKPDwKL0Vu
			Y29kaW5nIC9NYWNSb21hbkVuY29kaW5nCi9QcmVhbWJsZSAoRVNh
			bm5vcEVTc2xhc2hkb2N1bWVudGNsYXNzWzEwcHRdRVNsZWZ0YnJh
			Y2thcnRpY2xlRVNyaWdodGJyYWNrCkVTc2xhc2h1c2VwYWNrYWdl
			W3VzZW5hbWVzXUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sg
			JXVzZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VF
			U2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVT
			c2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdo
			dGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVT
			bGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0
			byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVT
			YW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVD
			ZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBB
			JTVDdXNlcGFja2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3IlN0Ql
			MjAlMjV1c2VkJTIwZm9yJTIwZm9udCUyMGNvbG9yJTBBJTVDdXNl
			cGFja2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3Vz
			ZXBhY2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1
			c2VwYWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1
			dXNlZnVsJTIwdG8lMjB0eXBlJTIwZGlyZWN0bHklMjBkaWFjcml0
			aWMlMjBjaGFyYWN0ZXJzJTBBRVNhbm5vZXBlbmQpCi9TdWJqZWN0
			IChFU2Fubm90RVNzbGFzaHN1bUVTYW5ub3RlbmQpCi9Fc2NhcGVk
			U3ViamVjdCAoRVNhbm5vZXMlNUNzdW1FU2Fubm9lc2VuZCkKL1R5
			cGUgKEVFdHlwZTNFRXR5cGVlbmQpCi9Db2xvciAoRUVjb2wwLjAw
			MDAwMCAwLjAwMDAwMCAwLjAwMDAwMCAxLjAwMDAwMEVFY29sZW5k
			KQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAxLjAwMDAwMCAxLjAw
			MDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0bGUgKEVFdGl0bGVF
			RXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAoRUVtYWcxMjguMDAw
			MDAwRUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAwMEVF
			YmFzZW5kKQo+PgplbmRvYmoKeHJlZgowIDI2CjAwMDAwMDAwMDAg
			NjU1MzUgZiAKMDAwMDAwNjE2NyAwMDAwMCBuIAowMDAwMDAwMjM3
			IDAwMDAwIG4gCjAwMDAwMDMyMTEgMDAwMDAgbiAKMDAwMDAwMDAy
			MiAwMDAwMCBuIAowMDAwMDAwMjE4IDAwMDAwIG4gCjAwMDAwMDAz
			NDEgMDAwMDAgbiAKMDAwMDAwMzE3NSAwMDAwMCBuIAowMDAwMDAw
			MDAwIDAwMDAwIG4gCjAwMDAwMDU4NzMgMDAwMDAgbiAKMDAwMDAw
			MDQzOSAwMDAwMCBuIAowMDAwMDAzMTU0IDAwMDAwIG4gCjAwMDAw
			MDMyOTQgMDAwMDAgbiAKMDAwMDAwNTE2MiAwMDAwMCBuIAowMDAw
			MDA1MTgyIDAwMDAwIG4gCjAwMDAwMDUyMDMgMDAwMDAgbiAKMDAw
			MDAwMzM0NCAwMDAwMCBuIAowMDAwMDA1MTQxIDAwMDAwIG4gCjAw
			MDAwMDUyMjMgMDAwMDAgbiAKMDAwMDAwNTQ1NCAwMDAwMCBuIAow
			MDAwMDA1NDc5IDAwMDAwIG4gCjAwMDAwMDU1NTUgMDAwMDAgbiAK
			MDAwMDAwNTg1MyAwMDAwMCBuIAowMDAwMDA2MDQ3IDAwMDAwIG4g
			CjAwMDAwMDYwOTkgMDAwMDAgbiAKMDAwMDAwNjEyNSAwMDAwMCBu
			IAp0cmFpbGVyCjw8IC9TaXplIDI2IC9Sb290IDEyIDAgUiAvSW5m
			byAxIDAgUiAvSUQgWyA8MDQ2MDU0MDQ1MWIzOGZkMWI5NjlmZjZh
			Y2ZkNTdmNmU+CjwwNDYwNTQwNDUxYjM4ZmQxYjk2OWZmNmFjZmQ1
			N2Y2ZT4gXSA+PgpzdGFydHhyZWYKNzMzOQolJUVPRtIsLS4vWiRj
			bGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMuMDFWTlNE
			YXRhWE5TT2JqZWN01DMJNDU2Nzg5XE5TQXR0cmlidXRlc1hOU1N0
			cmluZ18QD05TQXR0cmlidXRlSW5mb4AJgCmAB4Ao0gk7PD1ZTlMu
			c3RyaW5ngAhfENJcZG9jdW1lbnRjbGFzc1sxMHB0XXthcnRpY2xl
			fQpcdXNlcGFja2FnZVt1c2VuYW1lc117Y29sb3J9ICV1c2VkIGZv
			ciBmb250IGNvbG9yClx1c2VwYWNrYWdle2Ftc3N5bWJ9ICVtYXRo
			cwpcdXNlcGFja2FnZXthbXNtYXRofSAlbWF0aHMKXHVzZXBhY2th
			Z2VbdXRmOF17aW5wdXRlbmN9ICV1c2VmdWwgdG8gdHlwZSBkaXJl
			Y3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwrSLC0/QF8QD05TTXV0
			YWJsZVN0cmluZ6M/QTFYTlNTdHJpbmfSCQpDRIAnokVGgAqAJdMJ
			SApJSk5XTlMua2V5c4Ako0tMTYALgAyADaNPUFGADoAQgCFXTlND
			b2xvcl8QEE5TUGFyYWdyYXBoU3R5bGVWTlNGb2500wlWV1hZWlxO
			U0NvbG9yU3BhY2VVTlNSR0KADxABTDAuNSAwLjUgMC41ANIsLVxd
			V05TQ29sb3KiXDHTXwlgYWJjWk5TVGFiU3RvcHNbTlNBbGlnbm1l
			bnSAEYAgEATSCQoLZoAfrGdoaWprbG1ub3BxcoASgBSAFYAWgBeA
			GIAZgBqAG4AcgB2AHtJ0CXV2Wk5TTG9jYXRpb24jQDwAAAAAAACA
			E9IsLXh5WU5TVGV4dFRhYqJ6MVlOU1RleHRUYWLSdAl8diNATAAA
			AAAAAIAT0nQJf3YjQFUAAAAAAACAE9J0CYJ2I0BcAAAAAAAAgBPS
			dAmFdiNAYYAAAAAAAIAT0nQJiHYjQGUAAAAAAACAE9J0CYt2I0Bo
			gAAAAAAAgBPSdAmOdiNAbAAAAAAAAIAT0nQJkXYjQG+AAAAAAACA
			E9J0CZR2I0BxgAAAAAAAgBPSdAmXdiNAc0AAAAAAAIAT0nQJmnYj
			QHUAAAAAAACAE9IsLZ2eV05TQXJyYXminTHSLC2goV8QEE5TUGFy
			YWdyYXBoU3R5bGWiojFfEBBOU1BhcmFncmFwaFN0eWxl1Amkpaan
			qKmqVk5TTmFtZVZOU1NpemVYTlNmRmxhZ3OAI4AiI0AoAAAAAAAA
			EBBWTW9uYWNv0iwtra5WTlNGb250oq0x0iwtsLFcTlNEaWN0aW9u
			YXJ5orAx0wlICkm0uIAko0tMTYALgAyADaMhUFGAJoAQgCHTCVa9
			WCS/V05TV2hpdGWAD0IwANIsLcHCXk5TTXV0YWJsZUFycmF5o8Gd
			MdIJKCnFgAVJHQABATEAgwEB0iwtx8hfEBlOU011dGFibGVBdHRy
			aWJ1dGVkU3RyaW5no8nKMV8QGU5TTXV0YWJsZUF0dHJpYnV0ZWRT
			dHJpbmdfEBJOU0F0dHJpYnV0ZWRTdHJpbmfTMwk0RjfOgCWAKYAr
			0gk7PNGACFRcc3Vt0tMJ1NVXTlMudGltZSNBsScJl9DcyoAt0iwt
			19hWTlNEYXRlotcx0iwt2ttfEA9MYXRleGl0RXF1YXRpb26j3N0x
			XxAPTGF0ZXhpdEVxdWF0aW9uXxAPTlNNYW5hZ2VkT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0eDhVHJvb3SAAQAIABEAGgAjAC0AMgA3
			AGkAbwB0AHsAhgCIAIoAjAClAK0AuADAAMkA0wDcAO4A9AD6AP8B
			BAEGAQgBCgEMARUBHgEgASIBJAEmASgBKgEwATUBPQE/IJIglyCi
			IKsguSC9IMQgzSDWIOMg7CD+IQAhAiEEIQYhCyEVIRch7CHxIgMi
			ByIQIhUiFyIaIhwiHiIlIi0iLyIzIjUiNyI5Ij0iPyJBIkMiSyJe
			ImUibCJ5In8igSKDIpAilSKdIqAipyKyIr4iwCLCIsQiySLLItgi
			2iLcIt4i4CLiIuQi5iLoIuoi7CLuIvAi9SMAIwkjCyMQIxojHSMn
			IywjNSM3IzwjRSNHI0wjVSNXI1wjZSNnI2wjdSN3I3wjhSOHI4wj
			lSOXI5wjpSOnI6wjtSO3I7wjxSPHI8wj1SPXI9wj5CPnI+wj/yQC
			JBUkHiQlJCwkNSQ3JDkkQiREJEskUCRXJFokXyRsJG8kdiR4JHwk
			fiSAJIIkhiSIJIokjCSTJJsknSSgJKUktCS4JL0kvyTJJM4k6iTu
			JQolHyUmJSglKiUsJTElMyU4JT0lRSVOJVAlVSVcJV8lZCV2JXol
			jCWeJbAlsyW4AAAAAAAAAgEAAAAAAAAA4gAAAAAAAAAAAAAAAAAA
			Jbo=
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2010-02-13 17:24:29 +0100</string>
	<key>Modifier</key>
	<string>Martin Hewitson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{48, 4}, {693, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-103, -33}, {764.383, 849.315}}</string>
		<key>Zoom</key>
		<real>0.73000001907348633</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.73000001907348633</real>
				<real>0.76999998092651367</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
