<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeXnicle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TeXnicleImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TeXnicleQuicklook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TeXnicleSpotlightImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25028982139BE8CA00A88E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2502899F139BE91E00A88E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>250772EB138E5D81000F1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25077311138E5D82000F1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E5022E139FC98F004A983E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
